<div class="container">
  <div>
    <img class="img-fluid rounded" src="../../../assets/trainer_home_event.png" alt="" />
  </div>
  <mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab *ngIf="isTrainer || isSELF_EXPERT " label="My Events">
      <div class="row">
      <div class="col-sm-12 col-lg-12 d-flex gap-5 justify-content-end ">
        <button class="btn rounded-pill text-light" data-bs-toggle="modal" data-bs-target="#exampleModal"
          data-bs-whatever="@mdo" style="background-color: #3078ff; width: 150px">
          Add New Event
        </button>
        <button (click)="toggleIcon()" class="btn rounded-pill text-light"
        style="background-color: #f96d63; width: 200px">
        Update/Delete Event
      </button>
      </div>
      </div>
       <!-- Event List Code Start From Here -->
        <div *ngIf="showeventdata && showeventdata.length > 0" class="row mt-3">
          <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 gx-3 mt-3">
            <div *ngFor="let Event of showeventdata" class="col-sm-12 col-md-3 col-lg-3 mb-3">
              <div class="card">
                <img routerLink="/eventdetails/{{Event._id}}" src="{{Event.event_thumbnail}}" class="card-img-top img-fluid" alt="...">
                <div class="card-body text">
                  <div class="d-flex align-items-center justify-content-between gap-1">
                    <span>
                      <label class="poppins-semibold-italic text-muted" style="font-size: 12px;">{{Event.event_date |  date: 'MMM'}}</label><br>
                      <span class="poppins-semibold-italic" style="font-size: 24px;">{{Event.event_date |  date: 'dd'}}</span>
                    </span>
                    <span>
                      <p class="card-title poppins-semibold-italic">{{Event.event_name}}</p>
                    </span>
                    <span class="text-center">
                      <span class="poppins-semibold-italic"> {{Event.event_type}} </span> <br>
                      <i *ngIf="Event.event_type === 'Online'" class="fas fa-circle-play text-muted"></i>
                      <i *ngIf="Event.event_type === 'Offline'" class="fas fa-location-dot"></i>
                    </span>  
                  </div>
                  <div class="d-flex align-items-center gap-2 justify-content-center">
                    <img src="../../assets/Rohit sharma.jpg" class="rounded-circle object-fit-cover" height="30px" width="30px" alt="">
                    <img src="../../assets/Rohit sharma.jpg" class="rounded-circle object-fit-cover" height="30px" width="30px" alt="">
                    <img src="../../assets/Rohit sharma.jpg" class="rounded-circle object-fit-cover" height="30px" width="30px" alt="">
                    <img src="../../assets/Rohit sharma.jpg" class="rounded-circle object-fit-cover" height="30px" width="30px" alt="">
                    <label class="p-2 border rounded-circle"> +35</label>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mt-2">
                    <button class="btn rounded-pill px-4 text-light poppins-regular" style="font-size: 14px;background-color: var(--TextColor);">Book Seat</button>
                    <button class="btn rounded-pill px-4 text-light poppins-regular" style="font-size: 14px;background-color: var(--btndarkColor);">View More</button>
                  </div>
                </div>
                <i routerLink="/editevent/{{ Event._id }}" *ngIf="showIcon" class="fa-solid fa-edit right-side-top"></i>
                 <i (click)="onDelete(Event._id)" *ngIf="showIcon" class="fa-solid fa-trash right-side-top-delete"></i>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!showeventdata || showeventdata.length === 0" class="col-12 text-center">
          <img src="../../../assets/No data-Found.png" class="img-fluid object-fit-cover" height="300px" width="300px" alt="">
      </div>
    </mat-tab>
    <mat-tab *ngIf="isUser" label="Booked Events">
      
    </mat-tab>
   </mat-tab-group>
 
  
  
</div>

<!-- Model For Add New Courses -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable ">
    <div class="modal-content ">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Event</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
              <label for="event_name" class="col-form-label">Event Name:</label>
              <input class="form-control" type="text" id="event_name" [(ngModel)]="event.event_name" name="event_name"
                required />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
              <label for="event_type" class="col-form-label">Event Mode:</label>
              <!-- <input class="form-control" type="text" id="event_type" [(ngModel)]="event.event_type" name="event_type"
                required /> -->
                <select class="form-select" aria-label="Default select example" id="event_type"
                [(ngModel)]="event.event_type" name="event_type">
                <option selected>Select Mode</option>
                <option value="Online">Online</option>
                <option value="Online">Offline</option>
              </select>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
              <label for="event_category" class="col-form-label">Select Categories</label>
              <select class="form-select" aria-label="Default select example" id="event_category"
                [(ngModel)]="event.event_category" name="event_category">
                <option selected>Select Categories</option>
                <option *ngFor="let category of showCategorydata" [value]="category._id">
                  {{ category.category_name }}
                </option>
              </select>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
              <label for="event_date" class="col-form-label">Event Date:</label>
              <input class="form-control" type="date" id="event_date" [(ngModel)]="event.event_date"
                name="event_date" required />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
              <label for="event_start_time" class="col-form-label">Event Start Time:</label>
              <input class="form-control" type="time" id="event_start_time" [(ngModel)]="event.event_start_time"
                name="event_start_time" required />
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
              <label for="event_end_time" class="col-form-label">Event End Time:</label>
              <input type="time" class="form-control" id="event_end_time" [(ngModel)]="event.event_end_time"
                name="event_end_time" required />
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
              <label for="event_location" class="col-form-label">Location:</label>
              <input type="text" class="form-control" id="event_location" [(ngModel)]="event.event_location"
                name="event_location" required />
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
              <label for="event_languages" class="col-form-label">Event Language:</label>
              <input type="text" class="form-control" id="event_languages" [(ngModel)]="event.event_languages"
                name="event_languages" required />
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
              <label for="estimated_seats" class="col-form-label">Estimate Seat:</label>
              <input type="text" class="form-control" id="estimated_seats" [(ngModel)]="event.estimated_seats"
                name="estimated_seats" required />
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
              <label for="event_thumbnail" class="col-form-label">Event Thumbnail Image</label>
              <input class="form-control" type="file" id="event_thumbnail" name="event_thumbnail" (change)="onFileSelected($event)" required>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
              <label for="event_info" class="col-form-label">Event Short Information:</label>
              <textarea type="text" class="form-control" id="event_info" [(ngModel)]="event.event_info"
                name="event_info" required ></textarea>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
              <label for="event_description" class="col-form-label">Event Details Information:</label>
              <textarea type="text" class="form-control" id="event_description" [(ngModel)]="event.event_description"
                name="event_description" required ></textarea>
            </div>

          </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Add Event</button>
        </div>
      </form>
    </div>
    </div>
  </div>