<div class="container">
    <div class="row">
        <h1 class="my-3 text-primary "><i class="fa-solid fa-bell position-relative"><span class="position-absolute badge rounded-pill bg-danger " style="font-size: x-small;top: -10px;left: 20px;">
            {{totalItems}} +
            <!-- <span class="">New messages</span> -->
          </span></i> NOTIFICATIONS  </h1>
      <section class="p-3 rounded" style="background-color: #EFF2F6;">
        <div *ngFor="let Data of Shownotification | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems }" class="row mb-2 border-bottom">
                <div class="col-sm-12 col-md-3 col-lg-9">
                    <h6>{{Data.activityType}}</h6>
                    <p>{{Data.message}}</p>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 text-end">
                    <label><i class="fa-solid fa-clock"></i> {{Data.createdAt | date}}</label>
                </div>
         </div>
         <pagination-controls (pageChange)="onPageChange($event)" class="text-end"></pagination-controls>
        </section>
    </div>
</div>