<div class="container">
    <div class="row">
        <h1 class="my-2"><i class="fa-solid fa-bell"></i> NOTIFICATIONS </h1>
        <div class="row ">
                <div class="col-9">
                    <h4>Course Enrolled</h4>
                    <p>Sagar Singh Enrolled your course. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora labore incidunt ratione ad qui dolor vel libero nostrum quae porro illo, quasi quidem culpa a maiores architecto cupiditate repudiandae nisi?</p>
                </div>
                <div class="col-3 text-end">
                    <label><i class="fa-solid fa-clock"></i> 12 Sep 2024 at 11:30 AM</label>
                </div>
         </div>
         
    </div>
</div>