<div class="container p-5">
    <div class="row">
    <form (ngSubmit)="changepassword()">

        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
            <label for="password" class="form-label">Enter New Password <sup>*</sup></label>
            <div class="d-flex align-items-center inputbtn">
              <input [type]="show ? 'text' : 'password'" class="form-control form-control-lg rounded-input h-25"
                id="newPassword" minlength="8" [(ngModel)]="resetpassword.newPassword" name="newPassword" required #password="ngModel"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
              <button type="button" (click)="togglePassword()">
                <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
              </button>
            </div>

            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
              <div *ngIf="password.errors?.['required']">Password is required.</div>
              <div *ngIf="password.errors?.['pattern']">
                Password must be at least 8 characters long, include at least one uppercase letter, one lowercase letter, one number, and one special character.
              </div>
            </div>
          </div>


        <!-- <label for="">Enter New Password</label>
        <br>
        <input type="text" name="newPassword"  id="newPassword" [(ngModel)]="resetpassword.newPassword">
            <br> -->
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>
</div>