<div class="container-fluid">
  <div class="row" style="background-image: url('../../assets/Log IN_background.png') ;">
    <div class="login-img col-md-6 col-lg-6 col-sm-12 d-flex align-items-center justify-containt-center"
      style="background-image: url('../../assets/Log IN_background.png') ; ">
      <img src="../../assets/Login-trainer 1.png" class="w-100 " alt="Login Image">

    </div>
    <div class="col-sm-12 col-md-6  col-lg-6">
      <div class="row desktop my-5 ms-5 py-3 px-2">

        <div class="col-sm-12 col-lg-12 text-end">
          <p>New Users? <label routerLink="/signup" style="color: #3078FF; cursor: pointer;">Create
              an account</label></p>
        </div>
        <div class="px-5 py-4"
          style="background-color: white; border-radius: 10px; box-shadow: rgba(146, 145, 145, 0.19) 0px 10px 20px, rgba(154, 153, 153, 0.23) 0px 6px 6px;">
          <div>
            <h4 class="py-3 fw-semibold lh-base">Hello, <br>Welcome back</h4>
            <div class>
              <button class="btn btn-block rounded-pill pb-2 mb-2 "> <i class="fa-brands fa-google"></i> Sign in with
                Google</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button class=" btn  rounded-pill btn-fb pb-2 mb-2 "> <i class="fa-brands fa-facebook"></i> Sign in with
                Facebook</button>
            </div>
          </div>

          <div class="col-1 py-3">
            <hr>
          </div>



          <!-- <form (ngSubmit)="onSubmit()" #loginForm="ngForm"> -->
          <form #login="ngForm" (ngSubmit)="onSubmit(login.value)">
            <div class="col-12 pt-3">
              <div class="row">
                <div class="col-sm-12 col-lg-12 mb-2">
                  <label for="email_id" class="form-label fw-semibold">Your Email</label>
                  <input type="email" class="form-control rounded-pill" id="email_id" [(ngModel)]="email_id"
                    name="email_id" required placeholder="Enter Your Email Id">
                </div>
                <div class="col-sm-12 col-lg-12">
                  <label for="password" class="form-label fw-semibold">Password</label>
                  <div class="d-flex align-items-center inputbtn">
                    <input [type]="show ? 'text' : 'password'" class="form-control rounded-pill" id="password"
                      [(ngModel)]="password" name="password" required placeholder>
                    <button type="button" (click)="togglePassword()">
                      <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                      <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-check pt-3">
                <input class="form-check-input border-dark" type="checkbox" [(ngModel)]="rememberMe" name="rememberMe"
                  id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">Remember
                  me</label>
                &nbsp; &nbsp; &nbsp;
                <label data-bs-toggle="modal" data-bs-target="#forgotpwd" style="color: #3078FF;cursor: pointer;">Forgot Password?</label>
              </div>
            </div>
            <div class="pt-5">
              <button type="submit" [disabled]="!password" class="btn sign-in-btn rounded-pill w-25  ">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="modal fade" id="forgotpwd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-ml modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content" style="border-radius: 20px !important;">
          <div class="text-end">
              <button type="button" class="btn-close p-4" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body px-5" >
              <form (ngSubmit)="forgotpwd()">
                          <div class="col-12  mb-3">
                              <label for="email_id" class="form-label">Your Email <sup>*</sup></label>
                              <input type="email" class="form-control form-control-lg rounded-input" placeholder=""
                                  id="email_id" [(ngModel)]="forget.email_id" name="email_id" required email
                                  #email="ngModel">
                              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                  <div *ngIf="email.errors?.['required']">Email is required.</div>
                                  <div *ngIf="email.errors?.['email']">Please enter a valid email address.</div>
                              </div>
                          </div>
                      
                      <div class="pt-5 mb-3 text-center">
                          <button type="submit" class="btn sign-in-btn rounded-pill px-5" >Reset Password</button>
                      </div>
              </form>
      </div>
  </div>
</div>