<div class="container-fluid">
    <div class="container-fluid px-4">
        <div class="row my-5 position-relative poppins-bold">
            <div class="col-sm-12 col-md-5 col-lg-5 poppins-bold" @slideInLeft>
                <p class="fw-bold pt-5"
                    style="font-size: 58px; font-weight: 700;">FAQs</p>
                <p style="font-size: 17px; font-weight: 500;"><span
                        class="text-primary">Home</span> / FAQs</p>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 position-relative">
                <img src="../../assets/faq-img.jpg" class="w-100 img-fluid"
                    style="border-radius: 30px;" alt>
                <img src="../../assets/88-1.png" @slideInLeft class="img-fluid"
                    style="position: absolute; top: 10%; left: -5%; height: 102px; width: 81px;"
                    alt>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row py-5 px-2">
            <div class="col-sm-12 col-md-5 col-lg-5 p-4">
                <div class="px-4 py-4 poppins-bold h-100"
                    style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; border-radius: 25px;">
                    <p style="font-size: 22px; font-weight: 600;"
                        class="mb-4">Have Questions? Contact Ximboa</p>
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label ">Name</label>
                            <input type="text"
                                style="background-color: #f7f7f7; border-radius: 12PX;"
                                class="form-control py-3" id="name"
                                placeholder="Your Name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control py-3"
                                id="email"
                                placeholder="Your Email"
                                style="background-color: #f7f7f7;">
                        </div>
                        <div class="mb-3">
                            <label for="message"
                                class="form-label">Message</label>
                            <textarea class="form-control py-3" id="message"
                                rows="5"
                                placeholder="Your Message"
                                style="background-color: #f7f7f7;"></textarea>
                        </div>
                        <button type="submit"
                            class="btn  w-50 rounded-pill py-3 px-3 text-light fw-bold"
                            style="background-color: #307dff;">Send
                            Your Question</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 px-5 ">
                <p class="text-muted poppins-regular">These FAQs address common pain points and concerns for both
                    experts and seekers, providing solutions and reassurance to
                    help them get the most out of the Ximboa platform.</p>
                <div class="accordion py-5" id="accordionExample"  @slideInRight>
                    <!-- Departure and Return -->

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading1">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse1"
                                aria-expanded="false"
                                aria-controls="collapse1">
                                What does Dual role Mean IN Ximboa?
                            </button>
                        </h2>
                        <div id="collapse1"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading1"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Experience the revolutionary Ximboa Platform,
                                    where every user embodies a dual identity -
                                    expert and seeker. Seamlessly share your
                                    knowledge and offer consultations in your
                                    domain, while also accessing a vast network
                                    of 180+ expertise areas to consult with
                                    renowned experts. Enjoy the convenience of a
                                    single platform, eliminating the need to
                                    navigate multiple apps to switch between
                                    sharing your expertise and seeking guidance
                                    from others.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading2">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse2"
                                aria-expanded="false"
                                aria-controls="collapse2">
                                Do I have to be expert? Can’t I just be seeker?
                            </button>
                        </h2>
                        <div id="collapse2"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading2"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Ximboa is a professional platform where
                                    experts and practitioners can showcase their
                                    expertise, share knowledge, and collaborate
                                    with others across various fields. By
                                    embracing your specialized knowledge and
                                    skills, you can establish yourself as a
                                    thought leader, educate others, and
                                    contribute to a vibrant community of
                                    professionals passionate about sharing
                                    expertise and driving innovation.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading4">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse4"
                                aria-expanded="false"
                                aria-controls="collapse4">
                                What steps do I need to take to start generating
                                income from my skills and knowledge on Ximboa?
                            </button>
                        </h2>
                        <div id="collapse4"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading4"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Three easy steps to start monetizing your
                                    expertise:</p>
                                <ol class=" text-muted poppins-regular px-4">
                                    <li>Write a engaging bio that highlights
                                        your expertise and interests </li>
                                    <li>Select and tag relevant expert
                                        categories (from our extensive list of
                                        200+ topics)
                                    </li>
                                    <li>Choose when you're available for in-app
                                        consultations, and start earning!
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading5">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse5"
                                aria-expanded="false"
                                aria-controls="collapse5">
                                Is there a financial obligation or joining fee
                                to use Ximboa?
                            </button>
                        </h2>
                        <div id="collapse5"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading5"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">No, joining Ximboa is completely free! There
                                    are no membership fees, registration costs,
                                    or hidden charges. Your consultation fee, as
                                    set by you, minus the payment Gateway
                                    charges and remanning transferred in full to
                                    your bank account in T+2 Days!</p>
                            </div>
                        </div>
                    </div>

                    <!-- Additional information -->
                    <div class="accordion-item  mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading6">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse6"
                                aria-expanded="false"
                                aria-controls="collapse6">
                                Are there any contracts to preregister?
                            </button>
                        </h2>
                        <div id="collapse6"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading6"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">No, there is absolutely no preregistration
                                    agreement of any sort between you and the
                                    Ximboa. We’re just introducing the Ximbao
                                    Platform to you before its public release,
                                    offering prelaunch benefits to the early
                                    adopters, and bringing together qualified
                                    experts who would be interested in using
                                    Ximboa to share their expertise and earn
                                    through their consultations. Just like any
                                    other educator Marketplace, you can choose
                                    to use the platform as and when you like, we
                                    have no restrictions or requirements!</p>
                            </div>
                        </div>
                    </div>

                    <!-- Cancellation Policy -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading7">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse7"
                                aria-expanded="false"
                                aria-controls="collapse7">
                                What are the Next Steps after I preregister on
                                Ximboa?
                            </button>
                        </h2>
                        <div id="collapse7"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading7"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">If you’ve preregistered via email or on
                                    ximboa.com, then congratulations! You don’t
                                    have to do anything more just yet. Your name
                                    is now added in our Database, and we’ll be
                                    sure to update you well before Ximboa is
                                    released to the public. You’ll receive a
                                    sneak peek over email a week before the
                                    public release of Ximboa with more
                                    information, a walkthrough to use Ximbao,
                                    and the next steps so you’re prepared well
                                    before the rest of the world!</p>
                            </div>
                        </div>
                    </div>

                    <!-- Help -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading8">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse8"
                                aria-expanded="false"
                                aria-controls="collapse8">
                                How would I Know if my preregistration on Ximboa
                                is Successfully?
                            </button>
                        </h2>
                        <div id="collapse8"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading8"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
<p class=" text-muted poppins-regular px-4">You’ll receive an automated confirmation email from Ximboa.com immediately after you submit your name and email in our website. Didn’t find it? Please check your inbox or your spam folder, just to make sure.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading9">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse9"
                                aria-expanded="false"
                                aria-controls="collapse9">
                                When will Ximboa be publicly released ?
                            </button>
                        </h2>
                        <div id="collapse9"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading9"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                               <p class=" text-muted poppins-regular px-4"> We’re thrilled by the overwhelming interest in Ximboa, with preregistrations surpassing our expectations! Our team is committed to delivering a seamless and robust platform that meets the needs of our growing community. To ensure we provide the best experience from the get-go, and due to the volume of sign-ups and our dedication to quality, we’re preparing for a September 2024 release.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading10">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse10"
                                aria-expanded="false"
                                aria-controls="collapse10">
                                Can I represent my company on Ximboa or use my
                                Organization’s name as my account name?
                            </button>
                        </h2>
                        <div id="collapse10"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading10"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
<p class=" text-muted poppins-regular px-4">Yes, of course! As long as you or a representative is willing to speak on behalf of your company’s expertise, you’re welcome to set up a Ximboa account representing your organization.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- accourdian -->
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <p class="text-center poppins-bold" style="font-size: 16px; font-weight: 700; color: #307DFF;letter-spacing: 1px;">SXPERTS FAQs (PAIN POINTS)</p>
                <div class="accordion pb-2 pt-2" id="accordionExample2">
                    <!-- Departure and Return -->

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading11">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse11"
                                aria-expanded="false"
                                aria-controls="collapse11">
                                I'm concerned about getting paid on time.
                            </button>
                        </h2>
                        <div id="collapse11"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading11"
                            data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Ximboa offers a secure payment system, ensuring timely payments for your sessions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading12">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse12"
                                aria-expanded="false"
                                aria-controls="collapse12">
                                I don't want to spend too much time on marketing.
                            </button>
                        </h2>
                        <div id="collapse12"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading12"
                            data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Ximboa's platform and marketing efforts help promote your services, reducing your marketing burden.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading13">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse13"
                                aria-expanded="false"
                                aria-controls="collapse13">
                                I need help managing my schedule.
                            </button>
                        </h2>
                        <div id="collapse13"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading13"
                            data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Ximboa's scheduling tool makes it easy to manage your sessions and availability.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading14">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse14"
                                aria-expanded="false"
                                aria-controls="collapse14">
                                I'm worried about data security.
                            </button>
                        </h2>
                        <div id="collapse14"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading14"
                            data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Ximboa prioritizes data protection and security, ensuring your information is safe.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading15">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse15"
                                aria-expanded="false"
                                aria-controls="collapse15">
                                I want to grow my client base.
                            </button>
                        </h2>
                        <div id="collapse15"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading15"
                            data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Ximboa connects you with seekers looking for your expertise, helping you expand your client base.

                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <p class="text-center poppins-bold" style="font-size: 16px; font-weight: 700; color: #307DFF;letter-spacing: 1px;"> SEEKERS FAQs (PAIN POINTS)</p>
                <div class="accordion pb-2 pt-2" id="accordionExample1">
                    <!-- Departure and Return -->

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading16">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse16"
                                aria-expanded="false"
                                aria-controls="collapse16">
                                I'm struggling to find the right expert for my needs.
                            </button>
                        </h2>
                        <div id="collapse16"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading16"
                            data-bs-parent="#accordionExample1">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Ximboa's search function and expert profiles help you find the perfect match.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading17">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse17"
                                aria-expanded="false"
                                aria-controls="collapse17">
                                Do I have to be expert? Can’t I just be seeker?
                            </button>
                        </h2>
                        <div id="collapse17"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading17"
                            data-bs-parent="#accordionExample1">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Ximboa's review and rating system ensures experts are vetted and reliable.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading18">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse18"
                                aria-expanded="false"
                                aria-controls="collapse18">
                                I don't want to spend too much money.
                            </button>
                        </h2>
                        <div id="collapse18"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading18"
                            data-bs-parent="#accordionExample1">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Ximboa offers competitive pricing, and you can compare rates among experts.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading19">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse19"
                                aria-expanded="false"
                                aria-controls="collapse19">
                                I need help finding time for learning.
                            </button>
                        </h2>
                        <div id="collapse19"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading19"
                            data-bs-parent="#accordionExample1">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Ximboa's flexible scheduling allows you to find sessions that fit your busy schedule.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="heading20">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse20"
                                aria-expanded="false"
                                aria-controls="collapse20">
                                I'm unsure if online sessions are effective.
                            </button>
                        </h2>
                        <div id="collapse20"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading20"
                            data-bs-parent="#accordionExample1">
                            <div class="accordion-body">
                                <p class=" text-muted poppins-regular px-4">Ximboa's platform offers high-quality video, chat, and phone call functionality, ensuring productive sessions.

                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- subscribe section  -->
    <div class="container-fluid px-4 py-5 poppins-bold">
        <!-- Subscribe Section -->
        <div class="row subscribe-section my-5 g-0  poppins-bold"  @slideUp
            style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 30px;">
            <div class="col-lg-5 mb-4 mb-lg-0">
                <!-- Replace the image link with your actual image source -->
                <img src="../../assets/Untitled-design-25.jpg" class="img-fluid"
                    style="border-top-left-radius: 22px;border-bottom-left-radius: 22px;"
                    alt="Woman using laptop">
            </div>
            <div
                class="col-lg-7 d-flex flex-column justify-content-center px-5 ">
                <p
                    class="text-uppercase text-primary fw-bold  mb-2 text-primary"
                    style="font-size: 16px;letter-spacing: 2px;">Subscribe
                    Now</p>
                <p style="font-size: 48px; font-weight: 700; line-height: 52px;"
                    class="mb-4">Subscribe for Learning Insights!</p>
                <form class="d-flex">
                    <input type="email" class="form-control w-75 py-3"
                        placeholder="Your Email"  style="background-color: #f7f7f7; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;">
                        <button type="submit" class="btn text-light px-5"
                        style="background-color: #307DFF; border-top-right-radius: 18px; border-bottom-right-radius: 18px; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; font-weight: 600; letter-spacing: 1px;">
                  SUBSCRIBE HERE
                </button>
                
                </form>
            </div>
        </div>
    </div>

</div>