<div class="container-fluid">
    <div class="container-fluid px-4">
        <div class="row my-5 position-relative poppins-bold">
            <div class="col-sm-12 col-md-5 col-lg-5 poppins-bold">
                <p class="fw-bold pt-5"
                    style="font-size: 58px; font-weight: 700;">FAQs</p>
                <p style="font-size: 17px; font-weight: 500;"><span
                        class="text-primary">Home</span> / FAQs</p>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 position-relative">
                <img src="../../assets/faq-img.jpg" class="w-100 img-fluid"
                    style="border-radius: 30px;" alt>
                <img src="../../assets/88-1.png" class="img-fluid"
                    style="position: absolute; top: 10%; left: -5%; height: 102px; width: 81px;"
                    alt>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row py-4">
            <div class="col-sm-12 col-md-5 col-lg-5 p-4">
                <div class="px-4 py-4 poppins-bold"
                    style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; border-radius: 25px;">
                    <p style="font-size: 22px; font-weight: 600;"
                        class="mb-4">Have Questions? Contact Ximboa</p>
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label ">Name</label>
                            <input type="text"
                                style="background-color: #f7f7f7;"
                                class="form-control py-3" id="name"
                                placeholder="Your Name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control py-3"
                                id="email"
                                placeholder="Your Email"
                                style="background-color: #f7f7f7;">
                        </div>
                        <div class="mb-3">
                            <label for="message"
                                class="form-label">Message</label>
                            <textarea class="form-control py-3" id="message"
                                rows="5"
                                placeholder="Your Message"
                                style="background-color: #f7f7f7;"></textarea>
                        </div>
                        <button type="submit"
                            class="btn  w-50 rounded-pill py-3 px-3 text-light fw-bold"
                            style="background-color: #307dff;">Send
                            Your Question</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="accordion py-5" id="accordionExample">
                    <!-- Departure and Return -->

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="headingone">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="false"
                                aria-controls="collapseOne">
                                What does Dual role Mean IN Ximboa?
                            </button>
                        </h2>
                        <div id="collapseOne"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Do I have to be expert? Can’t I just be
                                    seeker?</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="headingTwo">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo"
                                aria-expanded="false"
                                aria-controls="collapseTwo">
                                Do I have to be expert? Can’t I just be seeker?
                            </button>
                        </h2>
                        <div id="collapseTwo"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Do I have to be expert? Can’t I just be
                                    seeker?</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="headingOne">
                            <button class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                                Can I be an expert in multiple Niches?
                            </button>
                        </h2>
                        <div id="collapseOne"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>What steps do I need to take to start
                                    generating income from my skills and
                                    knowledge on Ximboa?</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="headingOne">
                            <button class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                                What steps do I need to take to start generating
                                income from my skills and knowledge on Ximboa?
                            </button>
                        </h2>
                        <div id="collapseOne"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                What steps do I need to take to start generating
                                income from my skills and knowledge on Ximboa?
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="headingSix">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseSix"
                                aria-expanded="false"
                                aria-controls="collapseSix">
                                Is there a financial obligation or joining fee
                                to use Ximboa?
                            </button>
                        </h2>
                        <div id="collapseSix"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <!-- Additional information -->
                    <div class="accordion-item  mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="headingThree">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseThree"
                                aria-expanded="false"
                                aria-controls="collapseThree">
                                Are there any contracts to preregister?
                            </button>
                        </h2>
                        <div id="collapseThree"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <!-- Cancellation Policy -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="headingFour">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFour"
                                aria-expanded="false"
                                aria-controls="collapseFour">
                                What are the Next Steps after I preregister on
                                Ximboa?
                            </button>
                        </h2>
                        <div id="collapseFour"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                            </div>
                        </div>
                    </div>

                    <!-- Help -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="headingFive">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFive"
                                aria-expanded="false"
                                aria-controls="collapseFive">
                                How would I Know if my preregistration on Ximboa
                                is Successfully?
                            </button>
                        </h2>
                        <div id="collapseFive"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="headingFive">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFive"
                                aria-expanded="false"
                                aria-controls="collapseFive">
                                When will Ximboa be publicly released ?
                            </button>
                        </h2>
                        <div id="collapseFive"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header poppins-bold"
                            id="headingFive">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFive"
                                aria-expanded="false"
                                aria-controls="collapseFive">
                                Can I represent my company on Ximboa or use my
                                Organization’s name as my account name?
                            </button>
                        </h2>
                        <div id="collapseFive"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                            </div>
                        </div>
                    </div>
                </div>

               


            </div>
        </div>

    </div>
</div>