.inputContainer1 > i {
  position: absolute;
  color: #000000;
  right: 10px;
  /* padding: 7px 12px; */
  /* margin-left: 16px; */
}

.icon {
  background-color: gray;
  color: skyblue;
  border-radius: 50%;
  padding: 15px;
}

.shadwo {
  box-shadow: 5px 5px 20px rgb(225, 223, 223);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}


.Home-icon:hover{
 color: #000000 !important;
}

/* Become an Expert Button CSS */

.main-button span { position:relative; z-index:5; color: #ffffff;}

.main-button {
  /* background-image: linear-gradient(to right, rgba(255,153,102,100), rgba(255,94,98,100)); */
  /* background-color: rgba(48, 120, 255, 1); */
  /* border: 0; */
  /* padding:6px 15px; */
  /* font-size:14px; */
  /* font-weight: 600; */
  /* line-height: 18px; */
  /* font-family: 'Assistant'; */
  border-radius: 3px;
  color: white;
  cursor: pointer;
  position:relative;
  z-index:3;
  &:after {
    background-color: #3078ff;
    content: '';
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    border-radius:1px;
    animation-name: blink;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    z-index:4;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    /* animation-timing-function: cubic-bezier(1, 0, 0, 1); */
  }
}

@keyframes blink {
  0% {
    transform:scale3d(1,1,1);
    opacity: 0.8;
  }
  100% {
    transform:scale3d(1.1,1.4,1.1);
    opacity:0;
  }
}


/* search.component.css */
.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
}

.suggestions-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

