<!-- navbar.component.html -->
<div class="container-fluid" style="background-color: #ffffff;">
  <div class="row mt-1 align-items-center">
    <div class="col-sm-6 col-md-6 col-lg-2">
      <img routerLink="/" class="img-fluid object-fit-fill " src="../../assets/Ximboa-Logo.jpg"    alt=""
        style="cursor: pointer;">
    </div>
    
    <div class="col-sm-6 col-md-6 col-lg-5 d-flex justify-content-between mt-2">
      <div style="width: 200px;">
        <div class="dropdown ">
          <div class="btn dropdown-toggle  border p-2 d-flex align-items-center justify-content-between samllpoppins" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
            <span>
              <i class="fa-brands fa-pix"></i> Category
            </span>
          </div>
          <div>
           
          </div>
          <ul class="dropdown-menu w-100">
            <li  *ngFor="let category of Showcategorydata" [routerLink]="['/relevance']" [queryParams]="{ category: category.category_name }">
              <a class="dropdown-item">{{category.category_name}}</a>
            </li>
            <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </div>
      </div>

      <div class="d-flex  gap-2 mt-2 ">
        <div class="d-flex gap-2 navmenu">
          <p routerLink="/Home" routerLinkActive="active-link"  >Home </p> 
          <p>|</p>
        </div>
        <div class="d-flex gap-2 navmenu">
          <p routerLink="/relevance/seeallcategory" routerLinkActive="active-link">Courses </p>
          <p>|</p>
        </div>
        <div class="d-flex gap-2 navmenu">
          <p routerLink="/relevance/trainer" routerLinkActive="active-link">Trainer </p>
          <p>|</p>
        </div>
        <div class="d-flex gap-2 navmenu">
          <p routerLink="/relevance/userproduct" routerLinkActive="active-link">Product </p>
          <p>|</p>
        </div>
        <div class="d-flex gap-2 navmenu">
          <p routerLink="/relevance/userevent" routerLinkActive="active-link">Event</p>
          <!-- <p>|</p> -->
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-6 col-lg-3  d-flex align-items-center gap-4">
      <div class="d-flex align-items-center justify-content-between inputContainer1  position-relative ">
        <input type="text" [(ngModel)]="query" (keyup)="searchitem($event)" class="form-control form-control-lg searchinput "
          placeholder="Search courses or instructor">
        <i class="fa-solid fa-magnifying-glass fs-5 pt-1 serachlogo" (click)="onsearch()" style="color: #307DFF;"></i>
        <div *ngIf="suggestions.length" class="suggestions-list">
          <ul>
            <li *ngFor="let item of suggestions" (click)="onSelectSuggestion(item)">
              <a style="text-decoration: none;color: black;">{{item.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    


    <div class=" ">
      <img routerLink="/cart" class="img-fluid" src="../../assets/cart header.png" alt="">
    </div>

  </div>

    <div *ngIf="!(isLoggedIn$ | async)" class="col-sm-6 col-md-6 col-lg-2 text-end d-flex gap-4 justify-content-end ">
      <button routerLink="/signin" class="btn btn-primary rounded samllpoppins">Sign In</button>
      <button routerLink="/signup" class="btn btn-light rounded border samllpoppins">Sign Up</button>
    </div>

    <div *ngIf="(isLoggedIn$ | async)" class="col-sm-6 col-md-6 col-lg-2 d-flex align-items-center justify-content-end">
      <button *ngIf="isUser" class="btn btn-sm btn-primary main-button me-3" data-bs-toggle="modal" data-bs-target="#exampleModalExpert" style="font-size: x-small;">
        Become an Expert
      </button>
      <i routerLink="/Notification" class="fa-regular fa-bell me-3 fs-3"></i>
      <div class="dropdown">
          <!-- <img *ngIf="UserImage" [src]="UserImage" data-bs-toggle="dropdown" aria-expanded="false" class="rounded-circle object-fit-cover" alt="Trainer Image" height="40" width="40" />
          <i  class="fa-solid fa-user icon" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i> -->
          <img *ngIf="UserImage; else noImageIcon" [src]="UserImage" data-bs-toggle="dropdown" aria-expanded="false"
            class="rounded-circle object-fit-cover" alt="Trainer Image" height="40" width="40" />
          <ng-template #noImageIcon>
            <i class="fa-solid fa-user icon" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
          </ng-template>
        <ul class="dropdown-menu dropdown-menu-start">
          <li><a class="dropdown-item">{{ (user$ | async) }}</a></li>
          <li><a class="dropdown-item" routerLink="/editprofilepicture">Change Profile <i class="fa-solid fa-user-pen"></i></a></li>
          <li><a class="dropdown-item" routerLink="/edittrainer">Edit Profile <i class="fa-solid fa-user-pen"></i></a></li>
          <li><a class="dropdown-item" routerLink="/Notification">Notification <i class="fa-solid fa-bell"></i></a></li>
          <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout <i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
      </div>
      <i routerLink="/trainer" class="fa-solid fa-bars text-primary fs-4 ms-3" ></i>
    </div>

    


    <!-- <div class="col-sm-6 col-md-6 col-lg-1 d-flex align-items-center justify-content-end ">
      <button *ngIf="(isLoggedIn$ | async) && isUser " class="btn btn-primary main-button" data-bs-toggle="modal"
        data-bs-target="#exampleModalExpert">
        Become an Expert
      </button>&nbsp;&nbsp;&nbsp;&nbsp;
      <i *ngIf="(isLoggedIn$ | async)" class="fa-solid fa-house-user Home-icon mx-3 text-primary" routerLink="/trainer" style="font-size: 35px;"></i>
      <div class="dropdown">
        <i class="fa-solid fa-user icon" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu">
          <ng-container *ngIf="(isLoggedIn$ | async); else notLoggedIn">
            <li><a class="dropdown-item">{{ (user$ | async) }}</a></li>
            <li><a class="dropdown-item" routerLink="/edittrainer">Edit Profile <i class="fa-solid fa-user-pen"></i></a></li>
            <li><a class="dropdown-item" routerLink="/Notification">Notification <i class="fa-solid fa-bell"></i></a></li>
            <li><a class="dropdown-item" (click)="logout()">Logout <i class="fa-solid fa-right-from-bracket"></i></a></li>
          </ng-container>
          <ng-template #notLoggedIn>
            <li><a class="dropdown-item" routerLink="/signin">LOGIN</a></li>
          </ng-template>
        </ul>
      </div>
    </div> -->
 
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalExpert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content p-4">
      <form (ngSubmit)="onSubmit()" >
        <div class="modal-body">
          <label for="exampleFormControlInput1" class="form-label">Select Expert Type</label>
          <div class="form-group">
            <label for="roleSelect">Select Role</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="role.requested_Role"
              name="requested_Role" (change)="onRoleChange()">
              <option value="" disabled>Select option</option>
              <option value="SELF_EXPERT">Self Expert</option>
              <option value="INSTITUTE">Institution</option>
              <option value="TRAINER">JOIN INSTITUTE TRAINER</option>
            </select>
          </div>

          <!-- Additional fields for INSTITUTE role -->
          <div *ngIf="role.requested_Role === 'INSTITUTE'" class="mt-2">
            <div class="form-group mb-2">
              <label for="field1">INSTITUTE Name</label>
              <input type="text" id="business_Name" class="form-control" name="business_Name" [(ngModel)]="institute.business_Name">
            </div>
            <div class="form-group mb-2">
              <label for="field2">Mobile No</label>
              <input type="text" id="field2" class="form-control" name="field2">
            </div>
            <div class="form-group mb-2">
              <label for="address_1">Address Line 1</label>
              <input type="text" id="address_1" class="form-control" name="address_1" [(ngModel)]="institute.address_1">
            </div>
            <div class="form-group mb-2">
              <label for="field4">Address Line 2</label>
              <input type="text" id="field4" class="form-control" name="field4">
            </div>
            <div class="form-group mb-2">
              <label for="field4">State</label>
              <input type="text" id="field4" class="form-control" name="field4">
            </div>
            <div class="form-group mb-2">
              <label for="field4">Contry</label>
              <input type="text" id="field4" class="form-control" name="field4">
            </div>
            <div class="form-group mb-2">
              <label for="field4">Zip-code</label>
              <input type="text" id="field4" class="form-control" name="field4">
            </div>
          </div>

          <div *ngIf="role.requested_Role === 'TRAINER'" class="mt-2">
            <label for="roleSelect">Select Institute</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="TrainerundersInstitute.instituteId"
            name="instituteId">
              <option value="" disabled>Select option</option>
              <option *ngFor="let institute of Institutedata" value="{{institute._id}}">{{institute.institute_name}}</option>
            </select>
          </div>

        </div>
        <div class="d-flex align-items-center justify-content-end gap-4 mt-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- whatsapp-icon -->
<!-- <a class="h-0 w-0" href="https://wa.me/+919130167333" target="_blank"><i
  class="fa-brands fa-whatsapp whatsapp-icon"></i></a> -->


