
.inputContainer1 > i {
  position: absolute;
  color: #000000;
  left: 10px;
}

.searchinput{
  padding-left: 40px;
  font-size: var(--Poppins14);
  height: 40px;
  width: 300px;
}

.icon {
  background-color: gray;
  color: skyblue;
  border-radius: 50%;
  padding: 15px;
}

.shadwo {
  box-shadow: 5px 5px 20px rgb(225, 223, 223);
}

.navmenu  p{
    font-size: var(--Poppins14);
    cursor: pointer;
}




.Home-icon:hover{
 color: #000000 !important;
}

/* Become an Expert Button CSS */

.main-button span { 
  position:relative; 
  z-index:5; 
  color: #ffffff;
}

.main-button {
  /* background-image: linear-gradient(to right, rgba(255,153,102,100), rgba(255,94,98,100)); */
  /* background-color: rgba(48, 120, 255, 1); */
  /* border: 0; */
  /* padding:6px 15px; */
  /* font-size:14px; */
  /* font-weight: 600; */
  /* line-height: 18px; */
  /* font-family: 'Assistant'; */
  border-radius: 3px;
  color: white;
  cursor: pointer;
  position:relative;
  z-index:3;
  &:after {
    background-color: #3078ff;
    content: '';
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    border-radius:1px;
    animation-name: blink;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    z-index:4;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    /* animation-timing-function: cubic-bezier(1, 0, 0, 1); */
  }
}

@keyframes blink {
  0% {
    transform:scale3d(1,1,1);
    opacity: 0.8;
  }
  100% {
    transform:scale3d(1.1,1.4,1.1);
    opacity:0;
  }
}


/* search.component.css */
.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
}

.suggestions-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}




/* Whatapps icon css */

.whatsapp-icon {
  position: fixed;
  width: 50px; 
  height: 50px; /* Ensure the height is equal to the width for a circular icon */
  right: 16px;
  bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0adc57; 
  background-color: #e7eef4; 
  border-radius: 50%; 
  z-index: 1000;
  cursor: pointer;
  font-size: 35px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */

}

.whatsapp-icon:hover {
  background-color: #ffffff; /* Lighter on hover */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Slightly deeper shadow on hover */
}



.dropdown>.dropdown-menu,
.dropdown.open>.dropdown-menu {
   display: block !important;
   opacity: 0;
   visibility: hidden;
   transition: all ease 0.2s;
}
.dropdown:hover>.dropdown-menu,
.dropdown.open:hover>.dropdown-menu { 
   opacity: 1;
   visibility: visible; 
}


.active-link {
  border-bottom: 2px solid #307DFF; 
  /* padding-bottom: 1px;  */
  color: #307DFF; 
}

.dropdown-menu {
  left: auto;     
  right: 0;       
}


