<div class="container-fluid">
  
    <!-- main footer -->
     
    <div class="row footer-section">
        <div class="col-sm-12 col-md-5 col-lg-5 text-center">
          <img class="img-fluid"   width="150px" height="10px" src="../../assets/Ximboanametext.png" alt="Logo">
           <!-- <h1 class="fw-bold fs-1 text-light"><i class="bg-light py-0 px-2 text-primary">X</i>IMBOA</h1> -->
          <p class="product-description">Empower Your Growth <br> with Continuous Learning.</p>
          <div class="social-icons">
            <a href="https://www.facebook.com/people/Ximboa-Educators-Marketplace/61565542104234/?mibextid=ZbWKwL"  class="fa-brands fa-facebook"></a>
            <a href="https://twitter.com" target="_blank" class="fa-brands fa-square-x-twitter twitter"></a>
            <a href="https://www.instagram.com/ximboa?igsh=MWE0eWJtZHpxNWJ6Mg==" target="_blank" class="fab fa-instagram instagram"></a>
            <a href="https://www.linkedin.com/company/ximboa/" target="_blank" class="fab fa-linkedin-in linkedIN"></a>
            <a href="https://youtube.com/@ximboa?si=P0X3gcUXKhG96rfj" target="_blank" class="fab fa-youtube youtube"></a>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 footer-links">
          <h4>About</h4>
          <ul>
            <li routerLink="/about">About Us</li>
            <li routerLink="/blog">Blog</li>
            <li routerLink="/faq">FAQ'S</li>
            <li routerLink="/Contact">Contact and Support</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 footer-links">
          <h4>Terms</h4>
          <ul>
            <li routerLink="/privacy-policy">Privacy Policy</li>
            <li>Terms and Conditions</li>
            <li>Cookie Policy</li>
            <li>Disclaimer</li>
            <li>Acceptable Use Policy</li>
          </ul>
        </div>
       
      </div>
    </div>
    
    <div class="col-12 footer-bottom ">
      <p>© Copyright 2024 by <a href="https://bhojsoft.com/" target="_blank">Bhojsoft Solutions</a></p>
    </div>
