<div class="container-fluid">
  <hr class="bg-dark">
    <div class="container pb-3">
        <div class="row">
            <div>
                <div class="mb-2">
                    <p class="m-0 fw-bold">Category</p>
                    <small routerLink="/seeallcategories"
                        *ngFor="let category of categories">{{ category }} |
                    </small>
                </div>
            </div>
            <div class="mb-2">
                <p class="m-0 fw-bold">Cources</p>
                <small routerLink="/seeallcategories"
                    *ngFor="let Cources of cources">{{ Cources }} | </small>

            </div>
            <div class="mb-2">
                <p class="m-0 fw-bold">Trainer</p>
                <small routerLink="/seeallcategories"
                    *ngFor="let Trainer of trainer">{{ Trainer }} | </small>
            </div>
            <div class="mb-2">
                <p class="m-0 fw-bold">Product</p>
                <small routerLink="/seeallcategories"
                    *ngFor="let Product of product">{{ Product }} | </small>
            </div>
            <div>
                <p class="m-0 fw-bold">Events</p>
                <small routerLink="/seeallcategories"
                    *ngFor="let Events of events">{{ Events }} | </small>
            </div>
        </div>

    </div>
    <!-- main footer -->
     
    <div class="row footer-section">
        <div class="col-sm-12 col-md-5 col-lg-5 ">
          <img class="img-fluid"   width="150px" height="10px" src="../../assets/Ximboa-Logo.jpg" alt="Logo">
          <p class="product-description">Empower Your Growth <br> with Continuous Learning.</p>
          <div class="social-icons">
            <a href="https://www.facebook.com"  class="fab fa-facebook-f"></a>
            <a href="https://twitter.com" target="_blank" class="fab fa-twitter"></a>
            <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
            <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin-in"></a>
            <a href="https://www.youtube.com" target="_blank" class="fab fa-youtube"></a>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 footer-links">
          <h4>About</h4>
          <ul>
            <li>About Us</li>
            <li>Contact and Support</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 footer-links">
          <h4>Terms</h4>
          <ul>
            <li>Privacy Policy</li>
            <li>Terms and Conditions</li>
            <li>Cookie Policy</li>
            <li>Disclaimer</li>
            <li>Acceptable Use Policy</li>
          </ul>
        </div>
       
      </div>
      <div class="col-12 footer-bottom ">
        <p>© copyright 2024 by <a href="https://bhojsoft.com/">Bhojsoft Solutions</a></p>
      </div>
</div>
