small{
    cursor: pointer;
    font-size: small;  
}
p{
    font-size: smaller;
}
small:hover{
   
        color: royalblue;
    
}


/* .nav-item li {
    list-style: none;
    cursor: pointer;
    padding: 5px 0;
    position: relative;
    font-weight: 400;
    transition-property: scale;
    transition-duration: 0.4s;
    margin: 0;
   
  }
  .nav-item li:hover{
    color: rgb(10, 10, 10);
  } */

/* .product-description */
.product-description {
  font-size: 2rem; 
  font-weight: 500; 
  color: white; 
  
  margin-top: 1rem; 
}

  .footer-section {
    background-color: #265BBD;
    padding-top: 5rem;  
    padding-bottom: 5rem;  
  }
  
  .footer-links h4 {
    margin-bottom: 1rem;
    color: white;
  }
  .footer-links ul {
    padding: 0;
    list-style: none;
    margin: 0;
    

  }
  .footer-links li {
    margin-bottom: 0.5rem;
    color: white;
    cursor: pointer;
  }
  .footer-links li:hover{
    color: black;
  }
  .footer-bottom {
    background-color: #307DFF;
    padding: 0.9rem 0;
      text-align: center;
  
  }
  .footer-bottom p {
    margin: 0;
  }
  .footer-bottom p,a {
    color: white;
    text-decoration: none;
  }

  .footer-bottom p > a:hover{
    text-decoration: underline;
  }


  /* social icons */
  .social-icons {
   
    margin-top: 1rem;
  }
  .social-icons a {
    color: white;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
  }
  .social-icons a:hover {
    background-color: white;
    color: #307DFF;
  }

  .youtube:hover{
    color: red !important;
  }
  
  .instagram:hover{
    color: #d62976 !important;
  }

  .twitter:hover{
    color: black !important;
  }

  .linkedIN:hover{
    color: #0077B5 !important;
  }