
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card p-2 round" style="width: 19rem;">
                      <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body text-center">
                        <h6>D Miller</h6>
                        <h6>Fitness Trainer</h6>
                        <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card p-2 round" style="width: 19rem;">
                      <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body text-center">
                        <h6>D Miller</h6>
                        <h6>Fitness Trainer</h6>
                        <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card p-2 round" style="width: 19rem;">
                      <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body text-center">
                        <h6>D Miller</h6>
                            <h6>Fitness Trainer</h6>
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card p-2 round" style="width: 19rem;">
                      <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body text-center">
                            <h6>D Miller</h6>
                            <h6>Fitness Trainer</h6>
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card p-2 round" style="width: 19rem;">
                      <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body text-center">
                            <h6>D Miller</h6>
                            <h6>Fitness Trainer</h6>
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card p-2 round" style="width: 19rem;">
                      <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body text-center">
                            <h6>D Miller</h6>
                            <h6>Fitness Trainer</h6>
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card p-2 round" style="width: 19rem;">
                      <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body text-center">
                            <h6>D Miller</h6>
                            <h6>Fitness Trainer</h6>
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card p-2 round" style="width: 19rem;">
                      <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body text-center">
                            <h6>D Miller</h6>
                            <h6>Fitness Trainer</h6>
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card p-2 round" style="width: 19rem;">
                      <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                      <div class="card-body text-center">
                            <h6>D Miller</h6>
                            <h6>Fitness Trainer</h6>
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                    </div>
                  </div>
             
              </div>
