.img-class{
    width: 180px !important;
    height: 180px;
    margin-top: -45%;
     border: 1px solid #307DFF; 
     padding: 2px
}
.viewtrainerbtn {
    position: absolute !important;
    top: 0%;
    left: 35%;
    background-color: transparent; 
    color: #f2f4f7; 
    border: none; 
    display: none;
    background-color: #307DFF;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

/* .viewtrainerbtn:hover {
    background-color: #307DFF;
    color: white; 
} */

.social-icons1{
    border: 1px solid #307DFF;
}