/* social icons */
.social-icons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .social-icons i {
    padding: 10px;
    text-decoration: none;
  }
  
  .social-icons i:hover {
    background-color: #307DFF;
    color: white;
  }