<div class="container-fluid" style="background-color: var(--bodyColor);">
  <div class="row">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 gx-3 mt-3">
      
      <div *ngFor="let trainer of filteredtrainer | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems }" class="col-sm-12 col-md-6 col-lg-3  mb-3" >
        <div class="card trainercard " style="margin-top: 40%;border: none;" routerLink="/coursedetails/{{trainer.t_id}}" >
          <div class="text-center mt-3" style="position: relative;" >
          <img src="{{trainer.trainer_image}}" class="object-fit-cover rounded-circle img-class"  alt="...">
        </div>
        <button routerLink="/coursedetails/{{trainer._id}}" class="btn btn-sm rounded viewtrainerbtn">View Profile</button>
          <div class="card-body text-center">
            <p class="card-title trainernameheading text-capitalize">{{trainer.Business_Name}}</p>
            <p class="text-capitalize" > {{trainer.f_Name || "John" }}  {{trainer.l_Name || "Deo" }}</p>
              <div class="social-icons">
                <i href="https://www.facebook.com"  class="fa-brands fa-facebook  rounded-pill social-icons1"></i>
                <i href="https://twitter.com" target="_blank" class="fab fa-twitter rounded-pill social-icons1"></i>
                <i href="https://www.instagram.com" target="_blank" class="fab fa-instagram rounded-pill social-icons1" ></i>
                <i href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin-in  rounded-pill social-icons1"></i>
                <i href="https://www.youtube.com" target="_blank" class="fab fa-youtube  rounded-pill social-icons1"></i>
              </div>
            </div>
          <div class="card-footer d-flex justify-content-between trainercardfooter" style="background-color: white;">
            <p> <i class="fa-solid fa-star fs-5" style="color: #FFAE06;"></i> {{trainer.ratings || 4.5}}</p>
            <b>{{trainer.course_count}} Courses</b>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls (pageChange)="onPageChange($event)" class="text-end"></pagination-controls>
  </div>
</div>



   