<div class="container-fluid g-0 ">
    <div class="container-fluid px-4">
        <div class="row my-5 position-relative">
            <div class="col-sm-12 col-md-5 poppins-bold " @slideInLeft>
                <p class="fw-bold pt-5"
                    style="font-size: 52px; font-weight: 700;">About Us</p>
                <p style="font-size: 17px; font-weight: 500;"><span
                        class="text-primary">Home</span> / About Us</p>
            </div>
            <div class="col-sm-12 col-md-7 position-relative">
                <img src="../../assets/about-us.jpg" class="w-100 img-fluid"
                    style="border-radius: 30px;" alt>
                <img src="../../assets/88-1.png" @slideInLeft class="img-fluid"
                    style="position: absolute; top: 10%; left: -5%; height: 102px; width: 81px;"
                    alt>
            </div>
        </div>
    </div>
    <div class="container-fluid px-5">
        <div class="row position-relative">
            <div class="col-sm-12 col-md-6 col-lg-6 text-center position-relative  "
                style="margin-top: 20px;" >
                <!-- Background Arch -->
                <div class="background-arch position-relative ">
                    <img src="../../assets/1111.png" @slideInLeft  class="profile-img"
                        alt="Expert Image">
                    <!-- Card with absolute positioning -->
                    <div class=" overlay-card p-2 countersub"@slideInRight>
                        <!-- <p class="fw-bold m-0 p-0 d-flex align-items-center counter"
                            style="font-size: 48px; font-weight: 700;">180
                            <small class="text-primary">+</small></p>
                        <p class="fw-bold m-0 p-0 g-0">Areas of <br> Expertise</p> -->
                        <p class="fw-bold m-0 p-0 d-flex align-items-center counter" style="font-size: 48px; font-weight: 700;">
                            {{ counterValue | number:'1.0-0' }}
                            <small class="text-primary">+</small>
                          </p>
                          <p class="fw-bold m-0 p-0 g-0">Areas of <br> Expertise</p>
                          
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 px-4">
                <h6 class="fw-bold text-primary" style="letter-spacing: 2PX;">THE XIMBOA STORY:</h6>
                <p class="py-2 m-0  poppins-bold"
                    style="font-size: 59px; font-weight: 700; line-height: 65px;">Empowering
                    Experts to Shine</p>
                <p class="text-muted py-2" style="font-size: 18px;">
                    In a world where knowledge is power, we believe that
                    everyone deserves access to
                    high-quality training and coaching. But we also know that
                    creating and sharing
                    that knowledge can be a daunting task, especially for
                    experts who are not tech-savvy.
                </p>
                <p class="text-muted pb-2" style="font-size: 18px;">
                    Our founder, Amit Bhoj, was once one of those experts. A
                    seasoned trainer and coach
                    with years of experience, he struggled to find a platform
                    that would allow him to
                    share his knowledge with a wider audience. Frustrated with
                    the limitations of traditional
                    training methods and the complexity of existing online
                    platforms, Ximboa decided to take
                    matters into his own hands.
                </p>
                <p class="text-muted" style="font-size: 18px;">And so, Ximboa
                    was born.</p>
                <p class="text-muted pb-2" style="font-size: 18px;">
                    With a passion for innovation and a commitment to
                    excellence, our team set out to create a
                    platform that would empower experts like Ximboa to succeed
                    in the digital age. We wanted to
                    make it easy for them to create, host, and sell online
                    courses, training programs, and coaching
                    services, without sacrificing quality or control.
                </p>
                <p class="text-muted pb-2" style="font-size: 18px;">
                    Today, Ximboa is more than just a platform – it’s a
                    community of like-minded professionals who share
                    our vision of democratizing access to high-quality training
                    and coaching. We’re proud to be supporting
                    experts from all over the world, helping them to shine and
                    make a real impact in their industries.
                </p>
            </div>
        </div>

    </div>
    <div class="container-fluid text-light" style="background-color: #2d71e8;">
        <div class="row py-5 ">
            <h1 class="text-center pt-5 fw-bold poppins-bold" style="font-size: 48px;">Our
                Values </h1>
            <p class="text-center py-2 poppins-regular" style="font-size: 16px;"> At Ximboa,
                we’re driven by a set of core
                values that reflect our commitment to our community: </p>

        </div>

        <div class="container pb-5">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 text-light pb-4" >
                <div class="col  hover-effect">
                    <div class="card-container card">
                        <img src="../../assets/Untitled-design-7.png"
                            class="" width="70px" alt>
                        <div class="card-content py-3">
                            <p style="font-size: 22px;"
                                class="fw-bold">Empowerment</p>
                            <p class style="font-size: 18px;">We believe in
                                empowering experts to take control of their
                                knowledge and share it with the world.</p>
                        </div>
                    </div>
                </div>
                <div class="col  hover-effect">
                    <div class="card-container card">
                        <img src="../../assets/Untitled-design-8.png"
                            class=""  width="70px" alt>
                        <div class="card-content py-3">
                            <p style="font-size: 22px;"
                                class="fw-bold">Innovation</p>
                            <p style="font-size: 18px;">We’re dedicated to
                                staying at the forefront of technology and
                                innovation, always looking for ways to improve
                                and expand our platform.</p>
                        </div>
                    </div>
                </div>
                <div class="col  hover-effect">
                    <div class="card-container card">
                        <img src="../../assets/Untitled-design-9.png"
                            class=""  width="70px" alt>
                        <div class="card-content py-3">
                            <p style="font-size: 22px;"
                                class="fw-bold">Quality</p>
                            <p style="font-size: 18px;">We’re passionate about
                                delivering high-quality training and coaching
                                experiences that make a real difference.</p>
                        </div>
                    </div>
                </div>
                <div class="col  hover-effect">
                    <div class="card-container card ">
                        <img src="../../assets/Untitled-design-10.png"
                            class="" width="70px" alt>
                        <div class="card-content py-3">
                            <p style="font-size: 22px;"
                                class="fw-bold">Community</p>
                            <p style="font-size: 18px;">We’re building a
                                community of like-minded professionals who
                                support and learn from each other.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-4 py-5 poppins-bold">
        <!-- Top Section (Title and Button) -->
        <div class="row align-items-center mb-5 pt-4">
            <div class="col-md-8">
                <h1 class="heading"
                    style="font-size: 64px; font-weight: 700;">Join Our
                    Community</h1>
            </div>
            <div class="col-md-4 text-md-end">
                <a href="#"
                    class="btn read-more-btn rounded-pill  px-5 py-3 poppins-extrabold text-light "
                    style="background-color: #307DFF; ">Read More &rarr;</a>
            </div>
        </div>

        <!-- Subscribe Section -->
        <div class="row subscribe-section my-5 g-0  poppins-bold" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 30px;"  @slideUp>
            <div class="col-lg-5 mb-4 mb-lg-0">
                <!-- Replace the image link with your actual image source -->
                <img src="../../assets/Untitled-design-25.jpg" class="img-fluid"
                    style="border-top-left-radius: 22px;border-bottom-left-radius: 22px;" alt="Woman using laptop">
            </div>
            <div class="col-lg-7 d-flex flex-column justify-content-center px-5 ">
                <p
                    class="text-uppercase text-primary fw-bold  mb-2 text-primary" style="font-size: 16px;letter-spacing: 2px;">Subscribe
                    Now</p>
                <p style="font-size: 48px; font-weight: 700; line-height: 52px;"
                    class="mb-4">Subscribe for Learning Insights!</p>
                <form class="d-flex">
                    <input type="email" class="form-control w-75 py-3"
                        placeholder="Your Email" style="background-color: #f7f7f7; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;">
                        <button type="submit" class="btn text-light px-5"
                        style="background-color: #307DFF; border-top-right-radius: 18px; border-bottom-right-radius: 18px; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; font-weight: 600; letter-spacing: 1px;">
                  SUBSCRIBE HERE
                </button>
                </form>
            </div>
        </div>
    </div>

</div>