<div class="container rounded my-5" style="box-shadow: 10px  10px 50px #a79ccf;">
    <div *ngIf="Showcoursedetails" class="row ">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-between p-4 rounded-top" style="background-color: #E9E5FB;">
            <h5>{{Showcoursedetails.course_name}} Provided By {{Showcoursedetails.trainer_id.user_name}}</h5>
            <button routerLink="/relevance" class="btn btn-0 rounded-pill" style="width: 80px;">Back</button>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 mt-3 p-5">
            <img src="{{Showcoursedetails.thumbnail_image}}" class="img-fluid " alt="..." style="border-radius: 20px;">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mt-3 p-5">
            <h6 class="fs-4 fw-bold" style="color: #674ACB;">Course Information</h6>
            <p class="fs-5" style="text-align: justify;">{{Showcoursedetails.course_information}}</p>
                <div class="d-flex gap-2">
                    <label>Course Prize : <b> {{Showcoursedetails.price}} rs</b></label>|
                    <label>Start Date : <b> {{Showcoursedetails.start_date}}</b> </label>|
                    <label>End Date :<b> {{Showcoursedetails.end_date}}</b></label>
                </div>
                <div class="d-flex gap-2">
                    <label>Course Prize : <b> {{Showcoursedetails.offer_prize}} rs</b></label>|
                    <label>Start Time : <b>{{Showcoursedetails.start_time}}</b> </label>|
                    <label>End Time : <b>{{Showcoursedetails.end_time}}</b></label>
                </div>
               <div class="mt-4">
            <button  (click)="CourseEnroll(Showcoursedetails._id)" class="btn text-white rounded-pill mb-3 me-4" style="background-color: #674ACB">Enroll Now</button>
            <button routerLink="/coursedetails/{{Showcoursedetails.trainer_id._id}}" class="btn btn-0 rounded-pill mb-3" >View Trainer Profile</button>
        </div>
        </div>
    </div>
    <div class="row p-5 gap-2">
        <h5 class="fw-bold" style="color: #674ACB;">Related Courses</h5>
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col-sm-12 col-md-6 col-lg-3 ">
              <div class="card p-2 round"  >
                <img src="./assets/degree.jpeg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Education Claases</h5>
                  <div class="d-flex  align-items-center gap-3">
                    <i class="fa-solid fa-user card-user"></i>
                   <h6 >Nita Ghosh</h6>
                  </div>
                 <div class="progress mt-3 " role="progressbar" aria-label=" striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                  <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                                </div>
                     <button class="left-side-top rounded-pill">Education</button>
                  </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 ">
              <div class="card p-2 round"  >
                <img src="./assets/19.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Education Claases</h5>
                  <div class="d-flex  align-items-center gap-3">
                    <i class="fa-solid fa-user card-user"></i>
                   <h6 >Nita Ghosh</h6>
                  </div>
                 <div class="progress mt-3 " role="progressbar" aria-label=" striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                  <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                                </div>
                     <button class="left-side-top rounded-pill">Vocational</button>
                  </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 ">
              <div class="card p-2 round"  >
                <img src="./assets/5.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Education Claases</h5>
                  <div class="d-flex  align-items-center gap-3">
                    <i class="fa-solid fa-user card-user"></i>
                   <h6 >Nita Ghosh</h6>
                  </div>
                 <div class="progress mt-3 " role="progressbar" aria-label=" striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                  <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                                </div>
                     <button class="left-side-top rounded-pill">Health</button>
                  </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 ">
              <div class="card p-2 round"  >
                <img src="./assets/6.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Education Claases</h5>
                  <div class="d-flex  align-items-center gap-3">
                    <i class="fa-solid fa-user card-user"></i>
                   <h6 >Nita Ghosh</h6>
                  </div>
                 <div class="progress mt-3 " role="progressbar" aria-label=" striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                  <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                                </div>
                     <button class="left-side-top rounded-pill">Health</button>
                  </div>
              </div>
            </div>

           

          
           

          

            
            
            

          </div>
           
          
    </div>
</div>