<div *ngIf="showprofile" class="container-fluid">

    <div class="row m-0 p-0 g-0 ">
        <div class="col-sm-12 col-md-6 col-lg-10">
            <div class="row m-0 p-0 g-0">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <img src="{{showprofile.gallarys[0].photos}}" alt="" class="object-fit-cover img-fluid " alt="...">
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <img src="{{showprofile.gallarys[1].photos}}" alt="" class="object-fit-cover img-fluid " alt="...">
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <img src="{{showprofile.gallarys[2].photos}}" alt="" class="object-fit-cover img-fluid " alt="...">
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <img src="{{showprofile.gallarys[3].photos}}" alt="" class="object-fit-cover img-fluid " alt="...">
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <img src="{{showprofile.gallarys[4].photos}}" alt="" class="object-fit-cover img-fluid " alt="...">
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <img src="{{showprofile.gallarys[4].photos}}" alt="" class="object-fit-cover img-fluid " alt="...">
                </div>

            </div>
        </div>
        <!-- <div *ngFor="let photo of showprofile.gallarys" class="col-sm-12 col-md-2 col-lg-2" >
            <div class="col-sm-12 col-md-2 col-lg-2">
                <img [src]="photo.photos" class="object-fit-cover" alt="..." height="200px" width="253px">
            </div>
        </div> -->

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="row m-0 p-0 g-0 ">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="{{showprofile.gallarys[5].photos}}" class="img-fluid object-fit-cover" alt="...">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="{{showprofile.gallarys[4].photos}}" class="img-fluid object-fit-cover" alt="...">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6" style="position: relative;filter: blur(1px);">
                    <img data-bs-toggle="modal" data-bs-target="#gallery" src="{{showprofile.gallarys[4].photos}}"
                        class="img-fluid object-fit-cover" alt="...">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="{{showprofile.gallarys[3].photos}}" class="img-fluid object-fit-cover" alt="...">
                </div>
                <!-- <div class="textonimage ">
                    <i class="fa-regular fa-image fs-4 " style="color: #F96D63;"></i>
                    <p class="text-light fs-4">Gallery</p>
                </div> -->
            </div>
        </div>

    </div>
    
    <div class="row pt-2">
        <!-- First Row code start hrer -->
        <div class="col-sm-12 col-lg-4 border pt-2">
            <h5 class="text-color">{{showprofile.trainer?.business_Name || showprofile.institutes}}</h5>
            <div class="d-flex align-items-center gap-3">
                <i class="fa-solid fa-user card-user"></i>
                <h6 class="mt-1"> {{showprofile.trainer.f_Name + " " + showprofile.trainer.l_Name}} </h6>
            </div>
            
            <div>
                <span style="border:solid 1px black;padding: 0px 8px 0px 8px;">5</span> &nbsp;
                <span class="fa fa-star fs-6 checked"></span>
                <span class="ms-2 fa fa-star fs-6 checked"></span>
                <span class="ms-2 fa fa-star fs-6 checked"></span>
                <span class="ms-2 fa fa-star fs-6 "></span>
                <span class="ms-2 fa fa-star fs-6 "></span>&nbsp;
                <!-- <span>{{showprofile.reviews.length}}</span> -->
            </div>

            <div>
                <i class="fa-solid fa-location-dot p-2"></i> &nbsp;
                <span>{{showprofile.trainer.address1 + ", " + showprofile.trainer.address2 }}</span>

                <div class="d-flex gap-3 py-3">
                    <a class="text-dark" href="{{showprofile.SocialMedias?.facebook}}" target="_blank"><i
                            class="fa-brands fa-facebook ms-2 fs-4"></i></a>
                    <a class="text-dark" href="{{showprofile.SocialMedias?.instagram}}"><i
                            class="fa-brands fa-instagram ms-2 fs-4"></i></a>
                    <a class="text-dark" href="{{showprofile.SocialMedias?.youtube}}"><i
                            class="fa-brands fa-youtube ms-2 fs-4"></i></a>
                    <a class="text-dark" href="{{showprofile.SocialMedias?.Linkdein}}"><i
                            class="fa-brands fa-linkedin ms-2 fs-4"></i></a>
                </div>

            </div>

            <div class="d-flex align-items-center gap-3">
                <button class="btn btn-phone d-flex align-items-center gap-2"><i class="fa-solid fa-mobile-screen"></i>
                    {{showprofile.trainer.mobile_number}}</button>
                <!-- <a class="btn border-dark d-flex align-items-center  gap-2"
                    href="https://wa.me/{{showprofile.trainer.whatsapp_no}}" target="_blank"><i
                        class="fa-brands fa-whatsapp fw-bold fs-4" style="color: #30d14e;"></i> Whatsapp
                </a> -->
                <a class="btn border-dark d-flex align-items-center gap-2" (click)="handleWhatsAppClick()"> <i
                        class="fa-brands fa-whatsapp fw-bold fs-4" style="color: #30d14e;"></i> Whatsapp</a>

                <!-- <button class="btn border-dark">Rate <i class="fa-regular fa-star"></i></button> -->
                <button (click)="shareicon()" class="btn share-button"><i class="fas fa-share-alt"></i> Share</button>
                <!-- <button class="btn border-dark"><i class="fa-regular fa-heart"></i></button> -->
            </div>

            

            <!-- share button scetion -->
            <div class="share-container">
                <div *ngIf="showshare" class="share-options gap-4">
                    <a (click)="shareOnWhatsApp()" class="share-option">
                        <i class="fab fa-whatsapp fs-1" style="color: #30d14e; text-decoration: none;"></i>
                    </a>
                    <a (click)="copyLink()" class="share-option">
                        <i class="fas fa-link fs-3"></i>
                    </a>
                    <a (click)="shareOnFacebook()" class="share-option">
                        <i class="fab fa-facebook fs-1" style="color: #0976e4;"></i>
                    </a>
                </div>
            </div>



            <div class="mt-4">
                <h5 class="text-color">About Us</h5>
                <p style="text-align: justify;">{{showprofile.About[0].about_us}}</p>
                <!-- Our Services -->
                <div class="mt-3">
                    <h5 class="text-color">Our Services</h5>
                    <p style="text-align: justify;">{{showprofile.About[0].our_services}}</p>
                </div>
                <h5 class="text-color">Education</h5>
                <table>
                    <tbody>
                        <tr>
                            <td>School : </td>
                            <td>{{showprofile.Educations[0].school}}</td>
                        </tr>
                        <tr>
                            <td>College :</td>
                            <td>{{showprofile.Educations[0].college}}</td>
                        </tr>
                        <tr>
                            <td>Degree :</td>
                            <td>{{showprofile.Educations[0].degree}}</td>
                        </tr>
                        <tr>
                            <td>University :</td>
                            <td>{{showprofile.Educations[0].university}}</td>
                        </tr>
                        <tr>
                            <td>Other Deatils : </td>
                            <td>{{showprofile.Educations[0].other_details}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="mt-4">
                    <h5 class="text-color">Achievements / Certifications</h5>
                    <p>{{showprofile.Educations[0].achievements}}</p>
                </div>

        <!-- Testimonial         -->
                    <div class="pt-3">
                        <h5 class="text-color">Testimonial</h5>
                        <div id="carouselExampleDark" class="carousel carousel-dark slide">
                            <div class="carousel-indicators">
                                <button *ngFor="let testimonial of showprofile.testimonials; let i = index"
                                    type="button" [attr.data-bs-target]="'#carouselExampleDark'"
                                    [attr.data-bs-slide-to]="i" [class.active]="i === 0"
                                    [attr.aria-current]="i === 0 ? 'true' : null"
                                    [attr.aria-label]="'Slide ' + (i + 1)">
                                </button>
                            </div>
                            <div class="carousel-inner">
                                <div *ngFor="let testimonial of showprofile.testimonials; let i = index"
                                    class="carousel-item" [class.active]="i === 0"
                                    [attr.data-bs-interval]="i === 0 ? 10000 : 2000">
                                    <div style="min-height: 300px;">
                                        <div class="carousel-caption d-block">
                                            <h1 style="color: #F96D63;">{{testimonial.Testimonial_Title}}</h1>
                                            <p>{{testimonial.Testimonial_Description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                </div>

                    <!-- Questions & Answers -->
            <div class="mt-2">
                <h5 class="text-color">Questions & Answers</h5>
                <p>Would you like to ask a question?</p>
                <form (ngSubmit)="postquestion()">
                    <div class="col-12">
                        <textarea type="text" class="form-control" [(ngModel)]="question.question" name="question"
                            id="question"></textarea>
                    </div>
                    <button type="submit" class="btn btnq mt-3 btn-block px-5">Post You'r Question</button>
                </form>
            </div>

            <!-- Enquiry -->
            <div class="mt-3">
                <h5 class="text-color">Enquiry </h5>
                <form (ngSubmit)="postEnquiry()">
                    <div class="col-12">
                        <textarea type="text" class="form-control" [(ngModel)]="enquiry.description" name="description"
                            id="description"></textarea>
                    </div>
                    <button type="submit" class="btn btnq mt-3 btn-block  px-5">Enquiry Now</button>
                </form>
            </div>
            <!-- Write Review -->
            <div class="mt-3">
                <h5 class="text-color">Write Review</h5>
                <div class="row">
                    <form (ngSubmit)="postreview()">

                        <div class="d-flex gap-2 star-rating">
                            <span *ngFor="let i of stars; let index = index" class="fa fa-star"
                                [ngClass]="{'checked': index < rating}" (click)="toggleRating(index + 1)"
                                style="cursor: pointer;"></span>
                            <span>{{ rating }}</span>
                        </div>
                        <div class="my-3">
                            <textarea class="form-control" placeholder="Message" [(ngModel)]="review.review"
                                name="review" id="review"></textarea>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Submit you'r Review</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Second Row code End hrer -->

        <!-- Third Row code start hrer -->
        <div class="col-sm-12 col-lg-4 border pt-2">



            <!-- calender -->
            <div class="mt-3">
                <h5 class="text-color">Book Appointment</h5>
                <form (ngModel)="BookAppoinment()">
                    <div class="mb-3">
                        <label class="form-label">Select Date</label>
                        <input class="form-control" type="date" class="form-control" name="date" id="date"
                            [(ngModel)]="Appoinment.date">
                    </div>
                    <div>
                        <label class="form-label">Select Time</label>
                        <input class="form-control" type="time" class="form-control" name="time" id="time"
                            [(ngModel)]="Appoinment.time">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btnq mt-3 btn-block  w-25">Book Now</button>
                    </div>
                </form>
            </div>



            </div>
        </div>
        <!-- First Row code End hrer -->

        <!-- Second Row code start hrer -->
        <div class="col-sm-12 col-lg-8 border pt-2">
            <!-- current batches -->
            <div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h5 class="text-color">Current Batches</h5>
                    <div>
                        <button class="btn btn-sm btn-primary me-3">Prev</button>
                        <button class="btn btn-sm btn-primary">Next</button>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    <div *ngFor="let batch of showprofile.OnGoingBatches.slice(0, 3)" class="col rounded-box">
                        <div class="card h-100 rounded-box" routerLink="/couserenroll/{{batch._id}}">
                            <img [src]="batch.thumbnail_image" class="card-img-top rounded-box" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{batch.course_name}}</h5>
                                <div class="d-flex align-items-center gap-3">
                                    <i class="fa-solid fa-user card-user"></i>
                                    <h6 class="mt-1">{{batch.trainer_id?.f_Name + " " + batch.trainer_id?.l_Name ||
                                        'N/A'}}</h6>
                                </div>
                                <button class="left-side-top rounded-pill">{{batch.category_id?.category_name ||
                                    'N/A'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- upcoming batches -->
            <div class="mt-3">
                <h5 class="text-color">Upcoming Batches</h5>
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    <div *ngFor="let batch of showprofile.UpcomingBatches" class="col rounded-box">
                        <div class="card h-100 rounded-box" routerLink="/couserenroll/{{batch._id}}">
                            <img [src]="batch.thumbnail_image" class="card-img-top rounded-box" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{batch.course_name}}</h5>
                                <div class="d-flex align-items-center gap-3">
                                    <i class="fa-solid fa-user card-user"></i>
                                    <h6 class="mt-1">{{batch.trainer_id?.f_Name + " " + batch.trainer_id?.l_Name ||
                                        'N/A'}}</h6>
                                </div>
                                <button class="left-side-top rounded-pill">{{batch.category_id?.category_name ||
                                    'N/A'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            
            <!-- Online Events -->
            <div class="mb-2">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h5 class="text-color">Online Events</h5>
                    <div>
                        <button class="btn btn-sm btn-primary me-3">Prev</button>
                        <button class="btn btn-sm btn-primary">Next</button>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    <div *ngFor="let event of showprofile.onlineEventsThumbnailUrl.slice(0, 3)" class="col rounded-box">
                        <div class="card h-100 rounded-box mb-3" routerLink="/eventdetails/{{event._id}}">
                            <img [src]="event.event_thumbnail" class="card-img-top rounded-box"
                                alt="{{event.event_name}}">
                            <div class="card-body">
                                <h5 class="card-title">{{event.event_name}}</h5>
                                <div class="d-flex align-items-center gap-3">
                                    <!-- <i class="fa-solid fa-user card-user"></i> -->
                                    <h6 class="mt-1">{{event.trainerid?.user_name}}</h6>
                                    <!-- Added safe navigation operator -->
                                </div>
                                <button
                                    class="left-side-top rounded-pill">{{event.event_category?.category_name}}</button>
                                <!-- Added safe navigation operator -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Offline Events -->
            <div>
                <h5 class="text-color">Offline Events</h5>
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    <div *ngFor="let event of showprofile.offlienEventsThumbnailUrl.slice(0, 3)" class="col rounded-box">
                        <div class="card h-100 cursor-pointer rounded-box" routerLink="/eventdetails/{{event._id}}">
                            <img [src]="event.event_thumbnail" class="card-img-top rounded-box"
                                alt="{{event.event_name}}">
                            <div class="card-body">
                                <h5 class="card-title">{{event.event_name}}</h5>
                                <div class="d-flex align-items-center gap-3">
                                    <!-- <i class="fa-solid fa-user card-user"></i> -->
                                    <h6 class="mt-1">{{event.trainerid?.user_name}}</h6>
                                    <!-- Added safe navigation operator -->
                                </div>
                                <button
                                    class="left-side-top rounded-pill">{{event.event_category?.category_name}}</button>
                                <!-- Added safe navigation operator -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!-- Products -->
            <div class="">
                <h5 class="text-color">Our Products</h5>
                <p>{{showprofile.productsWithFullImageUrl.products_info}}</p>
                <div>
                    <div class="row row-cols-1 row-cols-md-3 g-3">
                        <div *ngFor="let product of showprofile.productsWithFullImageUrl.slice(0, 3)" class="col rounded-box">
                            <div class="card h-100 rounded-box">
                                <img routerLink="/shop/{{product._id}}" src="{{product.product_image}}"
                                    class="card-img-top rounded-box" alt="...">
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{product.product_name}}</h5>
                                    <p class="m-0">₹ {{product.product_prize ? product.product_prize :" Free"}}</p>
                                    <button class="btn btn1 mt-3 btn-block " routerLink="/cart">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    

                    <!-- social Media icon and links -->
            <div class="mt-5 fs-4">
                <!-- <a href="mailto:jyoti.kokate@kritikasoftware.com?cc=jyotikailaskokate@gmail.com&amp;subject=Contact Us&amp;body=Contact Us">jyoti.kokate@kritikasoftware.com</a> -->
                <p><a class="text-dark" href="mailto:contact@ximboa.io"> <i class="fa-regular fa-envelope"></i> Send
                        Enquiry by Email</a></p>
                <p><a class="text-dark" href="tel:{{showprofile.trainer.mobile_number}}"><i
                            class="fa-solid fa-mobile-screen-button"></i> Get Information by phone</a></p>
                <p><a class="text-dark" href="{{showprofile.SocialMedias?.facebook}}"><i
                            class="fa-brands fa-facebook"></i> Facebook</a></p>
                <p><a class="text-dark" href="{{showprofile.SocialMedias?.instagram}}"><i
                            class="fa-brands fa-instagram"></i> Instagram</a></p>
                <p><a class="text-dark" href="{{showprofile.SocialMedias?.youtube}}"><i class="fa-brands fa-youtube"></i>
                        YouTube</a></p>
                <p><a class="text-dark" href="{{showprofile.SocialMedias?.Linkdein}}"><i
                            class="fa-brands fa-linkedin"></i> Linkedin</a></p>

            </div>

        </div>
        <!-- Third Row code End hrer -->

    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-8  pt-2">
            <h5 class="text-color">Reviews & Ratings</h5>
            <div class="d-flex align-items-center gap-3 mt-1">
                <h6 class="p-2 rounded" style="background-color: #674ACB;color: white;">4.5</h6>
                <div>
                    <p class="m-0">209 Ratings</p>
                    <p class="m-0">rating index based on 209 ratings across the web</p>
                </div>
            </div>
            <h5 class="my-2">User Reviews </h5>
            <div *ngFor="let review of showreviewdata | paginate: { itemsPerPage: 2, currentPage: p}" class="row g-0 border rounded mb-4 p-3">
                <div class="d-flex justify-content-between">
                    <div class="d-flex gap-3">
                        <img src="{{review.user_image}}" class="img-resize" alt="">
                        <div>
                            <small class="m-0 fw-bold">{{ review.f_Name + " " + review.l_Name}}</small><br>
                            <!-- Star rating section -->
                            <span *ngFor="let star of starsArray; let i = index"
                                [ngClass]="{'fa fa-star checked': i < review.star_count, 'fa fa-star': i <= review.star_count }">
                            </span>
                           
                        </div>
                    </div>
                    <div class="text-end">
                        <label>{{review.createdAt | date}}</label>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <p>{{review.review}}</p>
                </div>
                <div class="d-flex align-items-center justify-content-between fw-bold mt-1">
                    <label (click)="shareiconreview()"><i class="fa-regular fa-share-from-square"></i> Share</label>
                    <label><i class="fa-regular fa-comment"></i> Comment</label>
                    <label><i class="fa-regular fa-thumbs-up"></i> Helpful (2)</label>
                </div>
                <!-- <div class="share-container">
                        <div *ngIf="showsharereview" class="share-options gap-4">
                            <a (click)="shareOnWhatsApp()" class="share-option">
                                <i class="fab fa-whatsapp fs-1" style="color: #30d14e; text-decoration: none;"></i>
                            </a>
                            <a (click)="copyLink()" class="share-option">
                                <i class="fas fa-link fs-3"></i>
                            </a>
                            <a (click)="shareOnFacebook()" class="share-option">
                                <i class="fab fa-facebook fs-1" style="color: #0976e4;"></i>
                            </a>
                        </div>
                    </div> -->
                </div>
                <pagination-controls style="float:right" (pageChange)="p = $event"></pagination-controls>
        </div>

        <!-- Similar Courses -->
        <div class="col-sm-12 col-lg-4 border pt-2">
            <h5 class="text-color">Similar Courses</h5>
            <div>
                <div class="d-flex align-items-center gap-3 mt-3">
                    <img src="./assets/zumba.jpg" class="img-resize" alt="">
                    <div class="d-flex gap-5">
                        <div>
                            <h6>Fitness Webinar</h6>
                            <p class="m-0">Shubham Kadam</p>
                            <br>
                            <label>2h 30min . 45 Peoples Enrolled</label>
                        </div>
                        <div>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-3 mt-3">
                    <img src="./assets/fitness.jpg" class="img-resize" alt="">
                    <div class="d-flex gap-5">
                        <div>
                            <h6>Fitness Webinar</h6>
                            <p class="m-0">Shubham Kadam</p>
                            <br>
                            <label>2h 30min . 45 Peoples Enrolled</label>
                        </div>
                        <div>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-3 mt-3">
                    <img src="./assets/gym.jpg" class="img-resize" alt="">
                    <div class="d-flex gap-5">
                        <div>
                            <h6>Fitness Webinar</h6>
                            <p class="m-0">Shubham Kadam</p>
                            <br>
                            <label>2h 30min . 45 Peoples Enrolled</label>
                        </div>
                        <div>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-3 mt-3">
                    <img src="./assets/yoga.jpg" class="img-resize" alt="">
                    <div class="d-flex gap-5">
                        <div>
                            <h6>Fitness Webinar</h6>
                            <p class="m-0">Shubham Kadam</p>
                            <br>
                            <label>2h 30min . 45 Peoples Enrolled</label>
                        </div>
                        <div>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-3 mt-3">
                    <img src="./assets/gym-boy.jpg" class="img-resize" alt="">
                    <div class="d-flex gap-5">
                        <div>
                            <h6>Fitness Webinar</h6>
                            <p class="m-0">Shubham Kadam</p>
                            <br>
                            <label>2h 30min . 45 Peoples Enrolled</label>
                        </div>
                        <div>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="row" style="height: 100px;background-color: #674ACB;">

    </div>
</div>






<!-- Modal For Gallery -->
<div class="modal fade" id="gallery" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">All Images</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div *ngFor="let gallary of showprofile.gallarys" class="col-sm-12 col-md-6 col-lg-6 mb-3">
                        <img class="img-fluid" src="{{gallary.photos}}" alt="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Model For User Registration -->

<div class="modal fade" id="CheckLoggedIN" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="text-end">
                <button type="button" class="btn-close p-4" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5">
                <form (ngSubmit)="onSubmit(signUpForm)" #signUpForm="ngForm">
                    <div class="row desktop">
                        <div class="row">
                            <div class="col-sm-12 mb-3">
                                <h4><b>Register</b></h4>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="f_Name" class="form-label">First Name <sup>*</sup></label>
                                <input type="text" class="form-control form-control-lg rounded-input" placeholder=""
                                    id="f_Name" [(ngModel)]="userData.f_Name" name="f_Name" required
                                    #FirstName="ngModel">
                                <div *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched)"
                                    class="text-danger">
                                    First Name is required.
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="l_Name" class="form-label">Last Name <sup>*</sup></label>
                                <input type="text" class="form-control form-control-lg rounded-input" placeholder=""
                                    id="l_Name" [(ngModel)]="userData.l_Name" name="l_Name" required
                                    #LastName="ngModel">
                                <div *ngIf="LastName.invalid && (LastName.dirty || LastName.touched)"
                                    class="text-danger">
                                    Last Name is required.
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="middle_Name" class="form-label">Middle Name</label>
                                <input type="text" class="form-control form-control-lg rounded-input" placeholder=""
                                    id="middle_Name" [(ngModel)]="userData.middle_Name" name="middle_Name"
                                    #MiddleName="ngModel">
                            </div>



                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="email_id" class="form-label">Your Email <sup>*</sup></label>
                                <input type="email" class="form-control form-control-lg rounded-input" placeholder=""
                                    id="email_id" [(ngModel)]="userData.email_id" name="email_id" required email
                                    #email="ngModel">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                    <div *ngIf="email.errors?.['required']">Email is required.</div>
                                    <div *ngIf="email.errors?.['email']">Please enter a valid email address.</div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="mobile_number" class="form-label">Mobile Number <sup>*</sup></label>
                                <input type="number" pattern="^[0-9]{10}$"
                                    class="form-control form-control-lg rounded-input" minlength="10" maxlength="10"
                                    pattern="^\d{10}$" id="mobile_number" [(ngModel)]="userData.mobile_number"
                                    name="mobile_number" required #mobile="ngModel">
                                <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="text-danger">
                                    <div *ngIf="mobile.errors?.['required']">Mobile Number is required.</div>
                                    <div *ngIf="mobile.errors?.['pattern']">Mobile Number must be exactly 10 digits.
                                    </div>
                                </div>

                            </div>


                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="password" class="form-label">Password <sup>*</sup></label>
                                <div class="d-flex align-items-center inputbtn">
                                    <input [type]="show ? 'text' : 'password'"
                                        class="form-control form-control-lg rounded-input h-25" id="password"
                                        minlength="8" [(ngModel)]="userData.password" name="password" required
                                        #password="ngModel"
                                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                                    <button type="button" (click)="togglePassword()">
                                        <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                                        <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                                    </button>
                                </div>
                                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                    class="text-danger">
                                    <div *ngIf="password.errors?.['required']">Password is required.</div>
                                    <div *ngIf="password.errors?.['pattern']">
                                        Password must be at least 8 characters long, include at least one uppercase
                                        letter, one lowercase letter, one number, and one special character.
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <div class="form-check pt-3">
                                    <input class="form-check-input border-dark" type="checkbox" [(ngModel)]="rememberMe"
                                        name="rememberMe" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">I accept the</label> &nbsp;
                                    <label style="color: #6149CD;">Terms and Conditions</label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <div class="form-check pt-3">
                                    <label data-bs-dismiss="modal" aria-label="Close" class="form-check-label"
                                        for="flexCheckDefault">Already Have an Account ? <a routerLink="/signin"> Login
                                        </a></label>
                                </div>
                            </div>

                        </div>

                        <div class="pt-5 mb-3 text-center">
                            <button type="submit" class="btn sign-in-btn rounded-pill "
                                [disabled]="!signUpForm.form.valid" style="width: 25%;">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>