<div class="container-fluid">
    <div class="container">
     
      <form (ngSubmit)="onSubmit(signUpForm)" #signUpForm="ngForm">
        <div class="row desktop">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <h4><b>Register</b></h4>
            </div>
  
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
              <label for="name" class="form-label">User Name</label>
              <input type="text" class="form-control form-control-lg rounded-input" placeholder="" id="name"
                [(ngModel)]="userData.name" name="name" required #userName="ngModel">
              <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-danger">
                User Name is required.
              </div>
            </div>
  
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
              <label for="email" class="form-label">Your Email</label>
              <input type="email" class="form-control form-control-lg rounded-input" placeholder="" id="email"
                [(ngModel)]="userData.email" name="email" required #email="ngModel">
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                Valid Email is required.
              </div>
            </div>
  
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
              <label for="mobile_no" class="form-label">Mobile Number</label>
              <input type="number" pattern="^[0-9]{10}$" class="form-control form-control-lg rounded-input" minlength="10"
                maxlength="10" id="mobile_no" [(ngModel)]="userData.mobile_no" name="mobile_no" required
                #mobile="ngModel">
              <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="text-danger">
                Mobile Number is required & must be exactly 10 digits.
              </div>
            </div>
  
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
              <label for="password" class="form-label">Password</label>
              <div class="d-flex align-items-center inputbtn">
                <input [type]="show ? 'text' : 'password'" class="form-control form-control-lg rounded-input h-25"
                  placeholder="" id="password" minlength="8" [(ngModel)]="userData.password" name="password" required
                  #password="ngModel">
                <button type="button" (click)="togglePassword()">
                  <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                  <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                </button>
              </div>
              <small></small>
  
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                Password is required. & Paasword Must be Minimum 8 character.
              </div>
            </div>
  
  
  
            <div class="form-check pt-3">
              <input class="form-check-input border-dark" type="checkbox"  name="rememberMe"
                id="flexCheckDefault" >
              <label class="form-check-label" for="flexCheckDefault">I accept the</label> &nbsp;
              <label style="color: #6149CD;">Terms and Conditions</label>
              <div *ngIf="terms.invalid && (terms.dirty || terms.touched)" class="text-danger">
                You must accept the terms and conditions.
              </div>
            </div>
          </div>
  
          <div class="pt-5 mb-3">
            <button type="submit" class="btn sign-in-btn rounded-pill w-25"
              [disabled]="!signUpForm.form.valid || !rememberMe">Sign up</button>
          </div>
        </div>
      </form>
  
  
    </div>
  </div>