<div class="container">
    <div class="row">
        <form [formGroup]="uploadform"  (ngSubmit)="onSubmit()">
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="event_name" class="col-form-label">Event Name:</label>
                  <input class="form-control" type="text" id="event_name" formControlName="event_name" name="event_name" required>  
                </div> 
          
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="event_date" class="col-form-label">Event Date:</label>
                  <input class="form-control"   type="Date" id="event_date" formControlName="event_date" name="event_date"  required>  
                </div> 

                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label for="event_categories" class="col-form-label">Select Categories</label>
                  <select class="form-select" aria-label="Default select example" id="event_categories"
                  formControlName="event_categories" name="event_categories">
                    <option selected>Select Categories</option>
                    <option *ngFor="let category of showCategorydata" [value]="category._id">
                      {{ category.category_name }}
                    </option>
                  </select>
                </div>
          
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="event_type" class="col-form-label">Event Mode:</label>
                    <select class="form-select" aria-label="Default select example" id="event_type"
                    formControlName="event_type" name="event_type">
                    <option selected>Select Mode</option>
                    <option value="Online">Online</option>
                    <option value="Online">Offline</option>
                  </select>
                </div>
          
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="event_start_time" class="col-form-label">Event Start Time:</label>
                  <input class="form-control" type="text"  id="event_start_time" formControlName="event_start_time" name="event_start_time" required>
                </div> 
          
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                  <label for="event_end_time" class="col-form-label">Event End Time:</label>
                  <input type="text" class="form-control" id="event_end_time" formControlName="event_end_time" name="event_end_time" required>
                </div> 

                <div class="mb-3 col-sm-12 col-md-6 col-lg-6">
                  <label for="event_thumbnail" class="col-form-label">Upload Event Image</label><br />
                  <input
                    type="file"
                    name="event_thumbnail"
                    id="event_thumbnail"
                    (change)="onFileSelected($event)"
                  />
                </div>
  
              </div>
            </div>
            <div class="modal-footer">
              <button routerLink="/trainer/event" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary  ms-3">Update Event</button>
            </div>
          </form>
    </div>
</div>