<div class="container-fuild">
    <div class="row">
    <div class="d-flex align-items-center justify-content-between">
        <h5>Courses</h5>
        <div class=" d-flex align-items-center justify-content-between inputContainer1 m-2 ">
            <input type="text" class="form-control  rounded-pill" placeholder="Search Courses"
                   style="padding-left: 50px;" >
            <i class="fa-solid fa-magnifying-glass fs-5 pt-1"></i>
          </div>
        <div class=" d-flex">
            <button class="btn rounded-pill text-light" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" style="background-color: #674ACB;width: 130px;">Add New</button>
            <button (click)="toggleIcon()" class="btn rounded-pill text-light ms-4" style="background-color: #F96D63;width: 130px;">Update/Delete</button>
        </div>
    </div>
</div>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">

        <div *ngFor="let course of showcoursedata" class="col-sm-12 col-md-6 col-lg-2 ">
            <div  class="card p-2 round" >
                <img src={{course.thumbnail_image}} class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h6 class="card-title">{{course.course_name}}</h6>
                    <div class="d-flex  align-items-center gap-3">
                        <i class="fa-solid fa-user card-user"></i>
                        <h6>Nita Ghosh</h6>
                    </div>
                    <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                    [attr.aria-valuenow]="course.progress" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar modify rounded-pill" [style.width.%]="course.progress"></div>
                    </div>
                </div>
                <i routerLink="/updatecourse/{{course._id}}" *ngIf="showIcon " class="fa-solid fa-edit right-side-top"></i>
                <i (click)="onDelete(course._id)" *ngIf="showIcon" class="fa-solid fa-trash right-side-top-delete"></i>
         
                <!-- <i  (click)="onDelete(course._id)" *ngIf="showIcon" class="fa-solid fa-minus right-side-top"></i> -->
            </div>
        </div>

       

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="./assets/degree.jpeg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Education Claases</h6>
                    <div class="d-flex  align-items-center gap-3">
                        <i class="fa-solid fa-user card-user"></i>
                        <h6>Nita Ghosh</h6>
                    </div>
                    <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                    </div>
                </div>
                <i *ngIf="showIcon" class="fa-solid fa-minus right-side-top"></i>
               
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="./assets/19.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Education Claases</h6>
                    <div class="d-flex  align-items-center gap-3">
                        <i class="fa-solid fa-user card-user"></i>
                        <h6>Nita Ghosh</h6>
                    </div>
                    <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="./assets/5.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Education Claases</h6>
                    <div class="d-flex  align-items-center gap-3">
                        <i class="fa-solid fa-user card-user"></i>
                        <h6>Nita Ghosh</h6>
                    </div>
                    <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="./assets/6.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Education Claases</h6>
                    <div class="d-flex  align-items-center gap-3">
                        <i class="fa-solid fa-user card-user"></i>
                        <h6>Nita Ghosh</h6>
                    </div>
                    <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="./assets/3.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Education Claases</h6>
                    <div class="d-flex  align-items-center gap-3">
                        <i class="fa-solid fa-user card-user"></i>
                        <h6>Nita Ghosh</h6>
                    </div>
                    <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="./assets/yoga.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Education Claases</h6>
                    <div class="d-flex  align-items-center gap-3">
                        <i class="fa-solid fa-user card-user"></i>
                        <h6>Nita Ghosh</h6>
                    </div>
                    <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                    </div>

                </div>
            </div>
        </div>



            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <div class="card p-2 round" routerLink="/courcedetails">
                    <img src="./assets/degree.jpeg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Education Claases</h6>
                        <div class="d-flex  align-items-center gap-3">
                            <i class="fa-solid fa-user card-user"></i>
                            <h6>Nita Ghosh</h6>
                        </div>
                        <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <div class="card p-2 round" routerLink="/courcedetails">
                    <img src="./assets/19.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Education Claases</h6>
                        <div class="d-flex  align-items-center gap-3">
                            <i class="fa-solid fa-user card-user"></i>
                            <h6>Nita Ghosh</h6>
                        </div>
                        <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <div class="card p-2 round" routerLink="/courcedetails">
                    <img src="./assets/5.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Education Claases</h6>
                        <div class="d-flex  align-items-center gap-3">
                            <i class="fa-solid fa-user card-user"></i>
                            <h6>Nita Ghosh</h6>
                        </div>
                        <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <div class="card p-2 round" routerLink="/courcedetails">
                    <img src="./assets/6.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Education Claases</h6>
                        <div class="d-flex  align-items-center gap-3">
                            <i class="fa-solid fa-user card-user"></i>
                            <h6>Nita Ghosh</h6>
                        </div>
                        <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <div class="card p-2 round" routerLink="/courcedetails">
                    <img src="./assets/3.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Education Claases</h6>
                        <div class="d-flex  align-items-center gap-3">
                            <i class="fa-solid fa-user card-user"></i>
                            <h6>Nita Ghosh</h6>
                        </div>
                        <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                        </div>

                    </div>
                </div>
            </div>

            
            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <div class="card p-2 round" routerLink="/courcedetails">
                    <img src="./assets/yoga.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Education Claases</h6>
                        <div class="d-flex  align-items-center gap-3">
                            <i class="fa-solid fa-user card-user"></i>
                            <h6>Nita Ghosh</h6>
                        </div>
                        <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <div class="card p-2 round" routerLink="/courcedetails">
                    <img src="./assets/yoga.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Education Claases</h6>
                        <div class="d-flex  align-items-center gap-3">
                            <i class="fa-solid fa-user card-user"></i>
                            <h6>Nita Ghosh</h6>
                        </div>
                        <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <div class="card p-2 round" routerLink="/courcedetails">
                    <img src="./assets/yoga.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Education Claases</h6>
                        <div class="d-flex  align-items-center gap-3">
                            <i class="fa-solid fa-user card-user"></i>
                            <h6>Nita Ghosh</h6>
                        </div>
                        <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <div class="card p-2 round" routerLink="/courcedetails">
                    <img src="./assets/yoga.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Education Claases</h6>
                        <div class="d-flex  align-items-center gap-3">
                            <i class="fa-solid fa-user card-user"></i>
                            <h6>Nita Ghosh</h6>
                        </div>
                        <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <div class="card p-2 round" routerLink="/courcedetails">
                    <img src="./assets/yoga.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Education Claases</h6>
                        <div class="d-flex  align-items-center gap-3">
                            <i class="fa-solid fa-user card-user"></i>
                            <h6>Nita Ghosh</h6>
                        </div>
                        <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <div class="card p-2 round" routerLink="/courcedetails">
                    <img src="./assets/yoga.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Education Claases</h6>
                        <div class="d-flex  align-items-center gap-3">
                            <i class="fa-solid fa-user card-user"></i>
                            <h6>Nita Ghosh</h6>
                        </div>
                        <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <div class="card p-2 round" routerLink="/courcedetails">
                    <img src="./assets/yoga.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Education Claases</h6>
                        <div class="d-flex  align-items-center gap-3">
                            <i class="fa-solid fa-user card-user"></i>
                            <h6>Nita Ghosh</h6>
                        </div>
                        <div class="progress mt-3 " role="progressbar" aria-label=" striped example"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar modify rounded-pill" style="width: 50%"></div>
                        </div>

                    </div>
                </div>
            </div>  
        

    </div>
</div>




<!-- Model For Add New Courses -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Courses</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form  (ngSubmit)="onsubmit()">
        <div class="modal-body">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <label for="course_name" class="col-form-label">Course Name</label>
                     <input type="text" class="form-control" id="course_name" [(ngModel)]="Courses.course_name" name="course_name">    
                </div> 

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <label for="category_id" class="col-form-label">Select Categories</label>
                    <select class="form-select" aria-label="Default select example" id="category_id" [(ngModel)]="Courses.category_id" name="category_id">
                        <option selected>Select Categories</option>
                        <option *ngFor="let category of showCategorydata" [value]="category._id"> {{ category.category_name }}</option>
                      </select>
                </div>  
                
                 <div class="col-sm-12 col-md-6 col-lg-6">
                    <label for="online_offline" class="col-form-label">Mode Online/Offline</label>
                    <select class="form-select" aria-label="Default select example" id="online_offline" [(ngModel)]="Courses.online_offline" name="online_offline">
                        <option selected>Select Mode</option>
                        <option value="Online">Online</option>
                        <option value="Offline">Offline</option>
                        <option value="Hybrid">Hybrid</option>
                    </select>
                </div>  

                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <label for="trainer_id" class="col-form-label">Assign Instructors</label>
                     <select class="form-select" aria-label="Default select example" id="trainer_id" [(ngModel)]="Courses.trainer_id" name="trainer_id">
                        <option selected>Select Trainer</option>
                        <option *ngFor="let trainer of showtrainerdata" [value]="trainer._id">{{trainer.user_name}}</option>
                        
                    </select>
                </div>
               

                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <label for="price" class="col-form-label">Prize</label>
                     <input type="text" class="form-control" id="price" [(ngModel)]="Courses.price" name="price">    
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <label for="offer_prize" class="col-form-label">Offer Prize</label>
                     <input type="text" class="form-control" id="offer_prize" [(ngModel)]="Courses.offer_prize" name="offer_prize">    
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <label for="start_date" class="col-form-label">Start Date</label>
                     <input type="Date" class="form-control" id="start_date" [(ngModel)]="Courses.start_date" name="start_date">    
                </div> 

                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <label for="end_date" class="col-form-label">End Date</label>
                     <input type="Date" class="form-control" id="end_date" [(ngModel)]="Courses.end_date" name="end_date">    
                </div> 

                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <label for="start_time" class="col-form-label">Start Time</label>
                     <input type="time" class="form-control" id="start_time" [(ngModel)]="Courses.start_time" name="start_time">    
                </div> 

                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <label for="end_time" class="col-form-label">End Time</label>
                     <input type="time" class="form-control" id="end_time" [(ngModel)]="Courses.end_time" name="end_time">    
                </div> 

               

                <div class="mb-3 col-sm-12 col-md-6 col-lg-6">
                    <label for="thumbnail_image" class="col-form-label">Upload Course Image</label><br>
                    <input type="file" name="thumbnail_image" id="thumbnail_image"  (change)="onFileSelected($event)" >
                  </div> 
                
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                    <label for="course_information" class="col-form-label">Course Information</label>
                     <textarea type="text" class="form-control" id="course_information" [(ngModel)]="Courses.course_information" name="course_information"></textarea>    
                </div>


            
           

            <div class="mb-3 col-sm-12 col-md-6 col-lg-6">
                <label for="gallary_image" class="col-form-label">Upload Gallary Image</label><br>
                <input type="file" name="gallary_image" id="gallary_image"  (change)="onFileSelected($event)" >
              </div> 

              <div class="mb-3 col-sm-12 col-md-6 col-lg-6">
                <label for="trainer_materialImage" class="col-form-label">Upload Course Material</label><br>
                <input type="file" name="trainer_materialImage" id="trainer_materialImage"  (change)="onFileSelected($event)" >
              </div> 
            
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Course</button>
        </div>
    </form>
      </div>
    </div>
  </div>