.inputContainer1 > i {
    position: absolute;
    color: black;
    margin-left: 16px;
  }

  .card-user{
    border: 1px solid black ;
    padding: 5px 5px 0 5px;
    border-radius: 5px;
  }

  .modify{
    background-color: #674ACB !important;
 }


 /* .left-side-top{
  background-color: #F9C4C4;
  padding: 5px 15px 5px 15px;
  font-size: large;
  border: none;
  position: absolute;
  top: 0%;
  margin-top: 20px;
} */

