

<div class="container-fluid px-4 pt-2" style="background-color: #f7f7f7;">
    <div class="row my-5 position-relative">
        <div class="col-sm-12 col-md-5 poppins-bold " @slideInLeft>
            <p class="fw-bold pt-5"
                style="font-size: 65px; font-weight: 700;">Contact Us</p>
            <p style="font-size: 17px; font-weight: 500;"><span
                    class="text-primary">Home</span> / Contact Us</p>
        </div>
        <div class="col-sm-12 col-md-7 position-relative">
            <img src="../../assets/contactus.jpeg" class="w-100 h-100 img-fluid"
                style="border-radius: 30px;" alt>
            <img src="../../assets/88-1.png" @slideInLeft class="img-fluid"
                style="position: absolute; top: 10%; left: -5%; height: 102px; width: 81px;"
                alt>
        </div>
    </div>

    <div class="row pt-5 g-0 py-4">
        <div class="col-sm-12 col-md-6 col-lg-6 p-2">
            <div class=" form  mb-3">
                <div class="card-body shadow-lg p-4 bg-light h-100 "
                    style="border-radius: 19px; ">
                    <h3 class="text-center poppins-semibold mb-4 py-2"
                        style="font-size: 22px;">Need Personalized Help? Contact
                        Us</h3>
                    <form>
                        <div class="row g-3 mb-3 ">
                            <div class="col-md-6">
                                <label for="name"
                                    class="form-label poppins-medium">Name</label>
                                <input type="text" class="form-control py-3"
                                    id="name" placeholder="Your Name"
                                    style="background-color: #eeee;">
                            </div>
                            <div class="col-md-6">
                                <label for="email"
                                    class="form-label  poppins-medium">Email</label>
                                <input type="email"
                                    style="background-color: #eeee;"
                                    class="form-control py-3" id="email"
                                    placeholder="Your Email">
                            </div>
                        </div>
                        <div class="row g-3 mb-3">
                            <div class="col-md-6">
                                <label for="phone"
                                    class="form-label  poppins-medium">Phone</label>
                                <input type="tel" class="form-control py-3"
                                    id="phone" placeholder="Your Number"
                                    style="background-color: #eeee;">
                            </div>
                            <div class="col-md-6">
                                <label for="subject"
                                    class="form-label  poppins-medium">Subject</label>
                                <input type="text" class="form-control py-3"
                                    id="subject" placeholder="Your Subject"
                                    style="background-color: #eeee;">
                            </div>
                        </div>
                        <div class="mb-3 col-sm-12 col-lg-12">
                            <label for="message"
                                class="form-label poppins-medium">Message</label>
                            <textarea class="form-control" id="message" rows="5"
                                placeholder="Your Message"
                                style="background-color: #eeee;"></textarea>
                        </div>
                        <button type="submit mt-2"
                            class="btn btn-primary px-4 py-2 poppins-extrabold rounded-pill"
                            >Send Your
                            Question</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 contact_info">
            <div class=" mb-4">
                <p class=" poppins-bold"
                    style="font-size: 16px; font-weight: 700; color: #307DFF;letter-spacing: 1px;">
                    CONTACT INFORMATION</p>
                <p style="font-size: 48PX; line-height: 52px; "
                    class="poppins-extrabold">We’re Here to <br> Help!</p>
                <p class="text-muted poppins-regular">
                    At Ximboa, we’re dedicated to making your experience as
                    seamless
                    and enjoyable as possible. Whether you have a question, need
                    assistance, or just want to share your feedback, our team is
                    here to listen and provide the support you need.
                </p>
            </div>

            <div class>
                <p style="font-size: 16px;color: #307DFF; letter-spacing: 2px;"
                    class=" mb-3 poppins-bold">HOW CAN WE ASSIST YOU?</p>
                <p class="text-muted poppins-regular py-2">For Immediate
                    Assistance:</p>
            </div>

            <div class="row justify-content-center">
                <!-- Phone Number -->
                <div class="col-md-12 mb-4 ">
                    <div class="card shadow-sm" style="border: none; ">
                        <div class="card-body d-flex gap-3 ">
                            <div class="mb-3 border p-2"
                                style="border-radius: 50% ; background-color: #307DFF;">
                                <i class="fa-solid fa-phone text-light "
                                    style="font-size: 1.5rem;"></i>
                            </div>
                            <div>
                                <h5 class="card-title fw-bold"> Phone
                                    Number</h5>
                                <p class="card-text">Call Us: +91 9130167333</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Location Address -->
                <div class="col-md-12 mb-4 ">
                    <div class="card shadow-sm" style="border: none; ">
                        <div class="card-body d-flex gap-3">
                            <div class="mb-3 border p-2"
                                style="border-radius: 50% ; background-color: #2351A9;">
                                <i class="fa-solid fa-location-dot text-light "
                                    style="font-size: 1.3rem;"></i>

                            </div>
                            <div>
                                <h5 class="card-title fw-bold">Location
                                    Address</h5>
                                <p class="card-text">Pune, Maharashtra,
                                    India</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Email Address -->
                <div class="col-md-12 mb-4 ">
                    <div class="card shadow-sm" style="border: none; ">
                        <div class="card-body d-flex gap-3">
                            <div class="mb-3 border p-2"
                                style="border-radius: 50% ; background-color: #2351A9;">
                                <i class="fa-solid fa-envelope text-light "
                                    style="font-size: 1.3rem;"></i>
                            </div>

                            <div>
                                <h5 class="card-title fw-bold">Email
                                    Address</h5>
                                <p class="card-text">contact@ximboa.io</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cards -->

    <div class="container-fluid bg-light pt-5">
        <div class="row py-5 ">
            <!-- First Card -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div
                    class="card1 text-center border-0 shadow py-5  bg-light"
                    style="border-radius: 12px;">
                    <div
                        class="card-body d-flex flex-column justify-content-center">
                        <i
                            class="fas fa-question-circle fa-2x mb-3 text-muted py-2"></i>
                        <p style="font-size: 23px;"
                            class="card-title poppins-bold">FAQs</p>
                        <p
                            class="card-text text-muted poppins-regular py-2">Find
                            quick answers to your questions and helpful guides
                            by visiting our FAQs.</p>
                    </div>
                </div>
            </div>
            <!-- Second Card -->
            <div class="col-lg-4 col-md-6 mb-4 ">
                <div
                    class="card1 text-center border-0 shadow py-5 px-3 bg-light"
                    style="border-radius: 12px;">
                    <div
                        class="card-body d-flex flex-column justify-content-center">
                        <i
                            class="fas fa-comments fa-2x mb-3 text-muted py-2"></i>
                        <p style="font-size: 23px;"
                            class="card-title poppins-bold">Live Chat</p>
                        <p class="card-text text-muted poppins-regular py-2">Get
                            real-time assistance from our support team by
                            clicking the 'Whatsup Chat' button on our platform.
                            Available 24/7 for your convenience.</p>
                    </div>
                </div>
            </div>
            <!-- Third Card -->
            <div class="col-lg-4 col-md-6 mb-4 ">
                <div
                    class="card1 text-center border-0 shadow py-5 px-3 bg-light"
                    style="border-radius: 12px;">
                    <div
                        class="card-body d-flex flex-column justify-content-center">
                        <i
                            class="fas fa-envelope fa-2x mb-3 text-muted py-2"></i>
                        <p style="font-size: 23px;"
                            class="card-title poppins-bold ">Email Us</p>
                        <p class="card-text text-muted poppins-regular py-2">For
                            more detailed inquiries or feedback, drop us an
                            email at contact@ximboa.io. We aim to respond within
                            24 hours.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 pb-5 ">
            <!-- First Card -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div
                    class="card1 text-center border-0 shadow py-5 px-3 bg-light"
                    style="border-radius: 12px;">
                    <div
                        class="card-body d-flex flex-column justify-content-center">
                        <i
                            class="fa-regular fa-clipboard fa-2x mb-3 text-muted py-2"></i>
                        <p style="font-size: 23px;"
                            class="card-title poppins-bold">Feedback and
                            Suggestions </p>
                        <p
                            class="card-text text-muted poppins-regular py-2">Your
                            insights and suggestions are invaluable to us. They
                            help us to improve Ximboa and serve you better.
                            Share your thoughts by emailing us directly at
                            contact<a href="https://ximboa.io"> @ximboa.io.</a></p>
                    </div>
                </div>
            </div>
            <!-- Second Card -->
            <div class="col-lg-4 col-md-6 mb-4 ">
                <div
                    class="card1 text-center border-0 shadow py-5 px-3 bg-light"
                    style="border-radius: 12px;">
                    <div
                        class="card-body d-flex flex-column justify-content-center">
                        <i
                            class="fa-regular fa-clipboard fa-2x mb-3 text-muted py-2"></i>
                        <p style="font-size: 23px;"
                            class="card-title poppins-bold"> Follow Us &amp;
                            Stay Updated </p>
                        <p
                            class="card-text text-muted poppins-regular py-2">Join
                            our community on social media to stay up-to-date
                            with the latest news, updates, and tips: Facebook,
                            Twitter, Instagram, LinkedIn</p>
                    </div>
                </div>
            </div>
            <!-- Third Card -->
            <div class="col-lg-4 col-md-6 mb-4 ">
                <div
                    class="card1 text-center border-0 shadow py-5 px-3 bg-light"
                    style="border-radius: 12px;">
                    <div
                        class="card-body d-flex flex-column justify-content-center">

                        <i
                            class="fa-regular fa-clipboard fa-2x mb-3 text-muted py-2"></i>
                        <p style="font-size: 23px;"
                            class="card-title poppins-bold "> Corporate
                            Inquiries </p>
                        <p class="card-text text-muted poppins-regular py-2">For
                            partnerships, media inquiries, or other corporate
                            matters, please contact us at contact <a href="https://ximboa.io"> @ximboa.io.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5 py-4">
        <div class="d-flex justify-content-between  column" style="gap: 20px;">
    
            <div class="flex-grow-1 border bg-light text-center p-3 d-flex align-items-center justify-content-center flex-column" style="border-radius: 18px;">
                <p style="font-size: 16px;color: #307DFF; letter-spacing: 2px;" class="mb-3 poppins-bold"> OUR COMMITMENT TO YOU</p>
                <p class="text-muted poppins-regular">At Ximboa, your satisfaction is our top priority. We’re committed to providing a platform that not only meets but exceeds your expectations. Whether you’re seeking advice or sharing your expertise, we’re here to ensure your experience is unmatched.</p>
            </div>
    
            <div class="flex-grow-1 border bg-light text-center px-4 py-3 d-flex align-items-center justify-content-center flex-column" style="border-radius: 18px;">
                <p style="font-size: 16px;color: #307DFF; letter-spacing: 2px;" class="mb-3 poppins-bold py-5"> WALK IN AND MEET US</p>
                <p class="text-muted poppins-regular"><a style="text-decoration: none;" href="https://ximboa.io/">Ximboa.io</a> is the brainchild of the creators behind Bhojsoft.com. While we’re bustling with preparations for our unique space, we’ll be nesting at Bhojsoft Solutions’s cozy office. Just like family, we’re all under one roof, excited to grow and unfold our new venture with you!</p>
                <p class="text-muted poppins-regular">If you’d like to contact our office or meet us, to share your thoughts, feedback or any words of appreciation, please reach out to us here.</p>
                <p class="text-muted poppins-regular py-4">Ximboa.io, a Venture of Bhojsoft.com</p>
            </div>
    
        </div>
    </div>
    

    <!-- Subscribe Section -->
    <div class="row subscribe-section my-5 py-5 g-0  poppins-bold bg-light"
        style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 30px;"
        @slideUp>
        <div class="col-lg-5 mb-4 mb-lg-0">
            <!-- Replace the image link with your actual image source -->
            <img src="../../assets/Untitled-design-25.jpg" class="img-fluid"
                style="border-top-left-radius: 22px;border-bottom-left-radius: 22px;"
                alt="Woman using laptop">
        </div>
        <div class="col-lg-7 d-flex flex-column justify-content-center px-5 ">
            <p
                class="text-uppercase text-primary fw-bold  mb-2 text-primary"
                style="font-size: 16px;letter-spacing: 2px;">Subscribe
                Now</p>
            <p style="font-size: 48px; font-weight: 700; line-height: 52px;"
                class="mb-4">Subscribe for Learning Insights!</p>
            <form class="d-flex">
                <input type="email" class="form-control w-75 py-3"
                    placeholder="Your Email"
                    style="background-color: #f7f7f7; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;">
                <button type="submit" class="btn text-light px-5"
                    style="background-color: #307DFF; border-top-right-radius: 18px; border-bottom-right-radius: 18px; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; font-weight: 600; letter-spacing: 1px;">
                    SUBSCRIBE HERE
                </button>
            </form>
        </div>
    </div>
</div>
