<div class="container-fluid py-5">
    <div class="container pt-5" id="work">
      <div class="row">
        
        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
          <div class="galimg">
            <img class="my-2 img-fluid gallimg" src="../../assets/zumba.jpg" alt="">
          </div>
          <div class="galimg">
            <img class="my-2 img-fluid gallimg" src="../../assets/2.jpg" alt="">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
          <div class="galimg">
            <img class="my-2 img-fluid gallimg" src="../../assets/3.jpg" alt="">
          </div>
          <div class="galimg">
            <img class="my-2 img-fluid gallimg" src="../../assets/zumba.jpg" alt="">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
          <div class="galimg">
            <img class="my-2 img-fluid gallimg" src="../../assets/zumba.jpg" alt="">
          </div>
          <div class="galimg">
            <img class="my-2 img-fluid gallimg" src="../../assets/4.jpg" alt="">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
          <div class="galimg">
            <img class="my-2 img-fluid gallimg" src="../../assets/fitness.jpg" alt="">
          </div>
          <div class="galimg">
            <img class="my-2 img-fluid gallimg" src="../../assets/zumba.jpg " alt="">
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <div class="galimg">
              <img class="my-2 img-fluid gallimg" src="../../assets/zumba.jpg" alt="">
            </div>

            <div class="galimg">
              <img class="my-2 img-fluid gallimg" src="../../assets/1.jpg" alt="">
            </div>

        </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <div class="galimg">
              <img class="my-2 img-fluid gallimg" src="../../assets/gym.jpg" alt="">
            </div>

            <div class="galimg">
              <img class="my-2 img-fluid gallimg" src="../../assets/zumba.jpg" alt="">
            </div>

          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <div class="galimg">
              <img class="my-2 img-fluid gallimg" src="../../assets/zumba.jpg" alt="">
            </div>

            <div class="galimg">
              <img class="my-2 img-fluid gallimg" src="../../assets/3.jpg" alt="">
            </div>

          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <div class="galimg">
              <img class="my-2 img-fluid gallimg" src="../../assets/fitness.jpg" alt="">
            </div>

            <div class="galimg">
              <img class="my-2 img-fluid gallimg" src="../../assets/zumba.jpg " alt="">
            </div>
        </div>    
    </div>
  </div>
</div>