<div class="container-fluid" style="background-color: #F3F3F3;">
    <div class="trainer_home mb-2">
        <img class="img-fluid rounded"
            src="../../../assets/trainer_home_banner.png" alt>
    </div>
    <div *ngIf="showDashboardata" class="row mt-5">

        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card card-style">
                <div class="d-flex gap-3 align-items-center">
                    <div class="icon border p-1 px-3 "
                        style="background-color: #C0D7FF;border-radius: 20px;">
                        <i class="fas fa-file-alt text-muted    "></i>
                    </div>
                    <div>
                        <p class="mb-0 text-muted">Total Course</p>
                        <h3 class="fw-bold">
                            {{showDashboardata.data.totalCourses < 10 ? "0"+ showDashboardata.data.totalCourses : showDashboardata.data.totalCourses }}
                        </h3>
                    </div>

                </div>
                <hr>
                <a href="#"
                    class="see-details d-flex justify-content-between align-items-center">
                    See Details <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card card-style">
                <div class="d-flex gap-3 align-items-center">
                    <div class="icon px-3 p-1 text-muted"
                        style="background-color: #C0D7FF;border-radius: 20px;">
                        <i class="fas fa-cube"></i>
                    </div>
                    <div>
                        <p class="mb-0 text-muted">Total Events</p>
                        <h3 class="fw-bold">
                            {{showDashboardata.data.totalEvents <10 ? "0"+ showDashboardata.data.totalEvents: showDashboardata.data.totalEvents }}
                        </h3>
                    </div>
                </div>
                <hr>
                <a href="#"
                    class="see-details d-flex justify-content-between align-items-center">
                    See Details <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card card-style">
                <div class="d-flex gap-3 align-items-center">

                    <div class="icon p-1 px-3 text-muted"
                        style="background-color: #C0D7FF;border-radius: 20px;">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div>
                        <p class="mb-0 text-muted">Total Products</p>
                        <h3 class="fw-bold">
                            {{showDashboardata.data.totalProducts <10 ? "0"+ showDashboardata.data.totalProducts: showDashboardata.data.totalProducts }}</h3>
                    </div>

                </div>
                <hr>
                <a href="#"
                    class="see-details d-flex justify-content-between align-items-center">
                    See Details <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card card-style card-certificates">
                <div class="d-flex gap-3 align-items-center">
                    <div class="icon ">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div>
                        <p class="mb-0  text-light">Certificates</p>
                        <h3 class="fw-bold">56</h3>
                    </div>

                </div>
                <hr>
                <a href="#"
                    class="text-light  d-flex justify-content-between align-items-center"
                    style="text-decoration: none;">
                    See Details <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row my-4 pb-3">
        <div class="col-sm-6 col-md-3 ">
            <div class="card card-style" style="height: 212px;"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card card-style" style="height: 212px;">

            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card card-style" style="height: 212px;"></div>
        </div>
        <div class="col-sm-6 col-md-3  ">
            <div class="d-flex flex-column card-style" style="border: none;">
                <button class="btn border mb-3 py-2"
                    style="border-radius: 20px;"> <i
                        class="fa-solid fa-plus px-2 text-primary"></i>Add
                    Course</button>
                <button class="btn mb-3 border py-2 "
                    style="border-radius: 20px;"> <i
                        class="fa-solid fa-plus px-2 text-primary"></i>Add
                    Product</button>
                <button class="btn mb-3 border py-2"
                    style="border-radius: 20px;"><i
                        class="fa-solid fa-plus px-2 text-primary"></i>Add
                    event</button>
            </div>
        </div>
    </div>
</div>