<div class="container-fluid">
    <div class="trainer_home mb-2">
        <img class="img-fluid rounded" src="../../../assets/trainer_home_banner.png" alt="">
    </div>
    <div class="row ">
    <h4 class="m p-0">Courses</h4>
    <div class="row gap-5 mb-3">
            <div class="col-3 bg-primary text-light p-3 rounded">
                <h4>Total Courses <i class="fa-solid fa-note-sticky"></i></h4>
                <p class="text-center">4</p>
            </div>
            <div class="col-3 bg-primary text-light p-3 rounded">
                <h4>Total Enrolled Courses <i class="fa-solid fa-book-open-reader"></i></h4>
                <p class="text-center">4</p>
            </div>
            <div class="col-3 bg-primary text-light p-3 rounded">
                <h4>Upcoming Courses <i class="fa-solid fa-note-sticky"></i></h4>
                <p class="text-center">4</p>
            </div>
    </div>
    <h4>Product</h4>
    <div class="row gap-5 mb-3">
            <div class="col-3 bg-primary text-light p-3 rounded">
                <h4>Total Product <i class="fa-solid fa-cart-plus"></i></h4>
                <p class="text-center">4</p>
            </div>
            <div class="col-3 bg-primary text-light p-3 rounded">
                <h4>Total salesed Product <i class="fa-solid fa-cart-arrow-down"></i></h4>
                <p class="text-center">4</p>
            </div>
            <div class="col-3 bg-primary text-light p-3 rounded">
                <h4>Available Product <i class="fa-solid fa-cart-plus"></i></h4>
                <p class="text-center">4</p>
            </div>
    </div>
    <h4>Event</h4>
    <div class="row gap-5">
            <div class="col-3 bg-primary text-light p-3 rounded">
                <h4>Total Event <i class="fa-solid fa-note-sticky"></i></h4>
                <p class="text-center">4</p>
            </div>
            <div class="col-3 bg-primary text-light p-3 rounded">
                <h4>Total Booked Seat <i class="fa-solid fa-book-open-reader"></i></h4>
                <p class="text-center">4</p>
            </div>
            <div class="col-3 bg-primary text-light p-3 rounded">
                <h4>Upcoming Event <i class="fa-solid fa-note-sticky"></i></h4>
                <p class="text-center">4</p>
            </div>
    </div>
</div> 
</div>