<div class="container rounded mt-5" style="box-shadow: 5px  5px 30px #a79ccf;">
    <div class="row ">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-between p-4 rounded-top" style="background-color: #E9E5FB;">
            <p>Proteins shake has been  added to your cart.</p>
            <button class="btn btn-0">Continue Shopping</button>
        </div>

        <div class="table-responsive">
            <table class="table  table-bordered border-dark text-center">
                <thead>
                    <tr >
                        <th></th>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>X</td>
                        <td><img src="./assets/gym-boy.jpg" height="80px" width="80px"></td>
                        <td>Proteins Shake</td>
                        <td>₹ 130.00</td>
                        <td>1</td>
                        <td>₹ 130</td>
                    </tr>
                    <tr>
                        <td colspan="6">
                        <button class="btn btn-0 my-1 text-center">Update Cart</button>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="row d-flex justify-content-end pt-5">
            <div class="col-sm-12 col-md-6 col-lg-3 table-responsive">
                <h6>CART TOTALS</h6>
                <table class="table" style="border: 1px solid black;">
                    <tbody class="table-bordered border-dark">
                    <tr>
                        <td>Subtotal</td>
                        <td class="text-end">₹ 130.00</td>
                    </tr>
                    <tr>
                        <td>total</td>
                        <td class="text-end">₹ 130.00</td>  
                    </tr>
                </tbody>
                </table>
                <div class="text-center mb-3 ">
                <button type="button" class="btn btn-lg btn-block  rounded- w-100" style="background-color: #674ACB;color: white;">Procced to checkout</button>
            </div>
            </div>
           
    
    
        </div>
       
    </div>    
  
</div>