.font-style{
    font-size: large;
    color: white;

    h6{
      cursor: pointer;
    }
}

.searchinput{
    padding-left: 40px;
    font-size: 14px;
}
.inputContainer1 > i{
    position: absolute;
    color: black;
    margin-left: 10px;
  }


.active-link {
  border-bottom: 3px solid #fff; 
  padding-bottom: 1px; 
  color: #fff; 
}
 





