  <img src="../../assets/Innner banner.jpg" class="object-fit-cover img-fluid"   alt="Short INFO" >
<div class="container-fluid " style="background-color: #F5F5F5;">
  
      
  
  <!-- <div class="row">
    <div class="row p-3 rounded-top" style="background-color: #307Dff;">
      <div class="col-sm-12 col-md-12 col-lg-8">
        <div class="d-flex align-items-center gap-5 font-style">
          <h6 routerLink="/relevance/seeallcategory" routerLinkActive="active-link" >Courses</h6>
          <h6 routerLink="/relevance/trainer" routerLinkActive="active-link">Trainer</h6>
          <h6 routerLink="/relevance/userproduct" routerLinkActive="active-link">Product</h6>
          <h6 routerLink="/relevance/userevent" routerLinkActive="active-link">Event</h6>
        </div>
      </div>
    </div>
  </div> -->



  <div class="d-flex align-items-center justify-content-between">

    <div class="d-flex align-items-center gap-5 px-3 py-2  border rounded bg-light">
      <i class="fa-solid fa-sliders"></i>
      <label>Filter</label>
    </div>

    

    <div style="width: 200px;font-size: #FFFFFF;">
      <select class="form-select" aria-label="Default select example" (change)="updatePlaceholder($event)">
        <option selected>Open this select menu</option>
        <option value="Courses">Courses</option>
        <option value="Trainers">Trainers</option>
        <option value="Products">Products</option>
        <option value="Events">Events</option>
      </select>
      <small class="position-absolute ms-1" style="font-size: x-small;">(Courses/Products/Events/Trainers)</small>
    </div>
    
    <div class="">
      <div class="bg-light d-flex align-items-center justify-content-between inputContainer1 py-2 my-2 position-relative" style="width: 300px;">
        <input type="text" (input)="onSearch($event)" class="form-control form-control-lg searchinput" [placeholder]="inputPlaceholder">
        <i class="fa-solid fa-magnifying-glass fs-5 pt-1 serachlogo"></i>
      </div>
    </div>
    

    <div class="bg-light">
      <select class="form-select py-2" aria-label="Default select example">
        <option selected>Sort By</option>
        <option value="Newly Added">Newly Added</option>
        <option value="Most Viewed">Most Viewed</option>
        <option value="5 Star Rated">5 Star Rated</option>
      </select>
    </div>
  </div>

  <div class="row ">
    <div class="col-sm-12 col-md-6 col-lg-2 mt-1 pt-3 ps-4" style="background-color:#FFFFFF;height: 100vh;">
      <h5>Categories</h5>
      <div class="form-check mb-2">
        <input class="form-check-input border border-dark" type="checkbox" id="selectAll" (change)="onSelectAll($event)" [checked]="areAllCategoriesSelected()">
        <label class="form-check-label" for="selectAll"> All</label>
      </div>
      
      <div *ngFor="let category of Showcategorydata" class="form-check mb-2">
        <input class="form-check-input border border-dark" type="checkbox" [id]="category.category_name"
          (change)="onCategoryChange(category.category_name, $event)" [checked]="isCategorySelected(category.category_name)">
        <label class="form-check-label" [for]="category.category_name">{{category.category_name}}</label>
      </div>
    </div>
    

    <div class="col-10">

      <router-outlet></router-outlet>

    </div>
  </div>