<div class="container-fuild">
    <div class="d-flex align-items-center justify-content-between">
        <h5>Instructors</h5>
        <div class="d-flex align-items-center justify-content-between inputContainer1 m-2 ">
            <input type="text" class="form-control  rounded-pill" placeholder="Search Courses"
                   style="padding-left: 50px;" >
            <i class="fa-solid fa-magnifying-glass fs-5 pt-1"></i>
          </div>
        <div class="d-flex">
            <button routerLink="/edit" class="btn rounded-pill text-light" style="background-color: #674ACB;width: 130px;">Add New</button>
            <button class="btn rounded-pill text-light ms-4" style="background-color: #F96D63;width: 130px;">Delete</button>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">


        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
               </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                 </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                  </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
               </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                 </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                  </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                </div>
            </div>
        </div>
        

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
               </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                 </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                  </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 ">
            <div class="card p-2 round" routerLink="/courcedetails">
                <img src="../../../assets/Rohit sharma.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body text-center">
                    <h6 style="margin: 0;">Rohit Sharma</h6>
                    <p  style="margin: 0;">Cricket Trainer</p>
                </div>
            </div>
        </div>
        

    </div>

</div>    