<div class="container-fluid">
  <div class="row">
    <img class="img-fluid rounded" src="../../../assets/trainer_home_product.png" alt="">
  </div>
    <div class="row">
        
            <div class="col-sm-12 col-lg-12 d-flex gap-5 justify-content-end my-3"> 
                <button class="btn rounded-pill text-light " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" style="background-color: #3078ff;">Add New Product</button>
                <button (click)="toggleIcon()" class="btn rounded-pill text-light " style="background-color: #F96D63;width:200px;">Update/Delete Product</button>
            </div>
       
        <!-- <div *ngFor="let product of showproductdata" class="col-sm-12 col-md-3 col-lg-3 mb-3">
           <div class="card rounded-box">
            <img src="{{product.product_image}}" class="card-img-top rounded-box" alt="...">
            <div class="card-body ">
                <h5 class="card-title">{{product.product_name}}</h5>
                <p class="m-0"><b>Prize : ₹ </b>{{product.product_prize}}</p>
                <p class="m-0"><b>Selling Prize : ₹ </b> {{product.product_selling_prize}}</p>
                <p class="m-0"><b>Description : </b> {{product.products_info}}</p>

            </div>
            <i routerLink="/editproduct/{{product._id}}"  *ngIf="showIcon " class="fa-solid fa-edit right-side-top"></i>
            <i (click)="onDelete(product._id)" *ngIf="showIcon" class="fa-solid fa-trash right-side-top-delete"></i>
           </div>
        </div> -->


        <div *ngFor="let product of showproductdata" class="col-sm-12 col-md-3 col-lg-3 mb-3">
          <div class="card rounded-box" >
           <img src="{{product.product_image}}" class="rounded-box img-fluid" alt="...">
           <div class="card-body ">
               <h5 class="card-title">{{product.product_name}}</h5>
               <p class="m-0"><b>Prize : ₹ </b>{{product.product_prize}}</p>
               <p class="m-0"><b>Selling Prize : ₹ </b> {{product.product_selling_prize}}</p>
               <p class="m-0"><b>Description : </b> {{ (product.products_info | slice: 0 : 8)}}
                  <button (click)="showProductDescription(product)" class="btn btn-sm btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">Read More</button>
              </p>
           </div>
           <i routerLink="/editproduct/{{product._id}}"  *ngIf="showIcon " class="fa-solid fa-edit right-side-top"></i>
            <i (click)="onDelete(product._id)" *ngIf="showIcon" class="fa-solid fa-trash right-side-top-delete"></i>
          </div>
       </div>
      
          
        <!-- Modal For Show Product Description -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Product Description</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p *ngIf="selectedProduct">{{ selectedProduct.products_info }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="card rounded-box">
             <img src="./assets/gym-boy.jpg" class="card-img-top rounded-box" alt="...">
             <div class="card-body text-center">
                 <h5 class="card-title">Proteins Shakes</h5>
                 <p class="m-0">₹ 130.00</p>
             </div>
            </div>
         </div
         -->
         
    </div>
</div>


<!-- Model For Add New Courses -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <label for="product_name" class="col-form-label">Product Name:</label>
                <input class="form-control" type="text" id="product_name" [(ngModel)]="product.product_name" name="product_name" required>  
              </div> 
        
              <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <label for="t_id" class="col-form-label">Trainer Name:</label>
                <input class="form-control" *ngIf="trainerID"  type="text" id="t_id" [(ngModel)]="product.t_id" name="t_id" [value]="trainerID._id"  required>  
              </div> 
        
              <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <label for="product_prize" class="col-form-label">Product Prize:</label>
                <input class="form-control" type="number" id="product_prize" [(ngModel)]="product.product_prize" name="product_prize" required>
              </div>
        
              <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <label for="product_selling_prize" class="col-form-label">Product Selling Prize:</label>
                <input class="form-control" type="number"  id="product_selling_prize" [(ngModel)]="product.product_selling_prize" name="product_selling_prize" required>
              </div> 
        
              <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <label for="product_image" class="col-form-label">Product Image</label>
                <input class="form-control" type="file" id="product_image" name="product_image" (change)="onFileSelected($event)" required>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <label for="product_gallary" class="col-form-label">Product Gallary</label>
                <input class="form-control" type="file" id="product_gallary" name="product_gallary" (change)="onFileSelected($event)" required>
              </div>
        
              <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                <label for="products_info" class="col-form-label">Product Info:</label>
                <textarea class="form-control" id="products_info" [(ngModel)]="product.products_info" name="products_info" required></textarea>
              </div> 
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Product</button>
          </div>
        </form>
        
      </div>

  
    </div>

  </div>