
<app-header class="app-header "></app-header>
<router-outlet></router-outlet>
<app-seo-keyword></app-seo-keyword>
<app-footer></app-footer>



<!-- <app-cart-course></app-cart-course> -->


<!-- <app-dashboard></app-dashboard> -->
<!-- <app-relevance></app-relevance> -->
<!-- <app-courses></app-courses> -->

<!-- <app-trainer></app-trainer> -->

<!-- <app-shop></app-shop> -->

<!-- <app-cart></app-cart> -->

<!-- <app-sign-in></app-sign-in> -->

<!-- <app-sign-up></app-sign-up> -->

<!-- <app-forgot-password></app-forgot-password> -->

<!-- <app-course-details></app-course-details> -->

<!-- <app-seeallcategories></app-seeallcategories> -->

<!-- <app-seealltrainer></app-seealltrainer> -->


<!-- <app-admin-dashboard></app-admin-dashboard> -->
<!-- <router-outlet></router-outlet> -->

 <!-- <app-admin-home></app-admin-home> -->



    <!-- <app-trainer-home></app-trainer-home> -->

 
    <!-- <app-practice></app-practice> -->

    <!-- <app-courseenroll></app-courseenroll> -->

    <!-- <app-enroll-now></app-enroll-now> -->

    <!-- <app-edittrainer></app-edittrainer> -->

<!-- <app-edit-course></app-edit-course> -->


<!-- <app-login></app-login> -->

