<div class="container-fluid px-4">
    <div class="row mt-5">
        <p class="poppins-extrabold"
            style="font-size: 56px; font-weight: 800;">Privacy Policy</p>
        <p class="text pb-2 text-muted">At Ximboa, we are committed to protecting
            the
            privacy and security of our users. This Privacy Policy explains how
            we collect, use, and protect personal information, and outlines the
            measures we take to ensure the security and integrity of user
            data.</p>
        <p class="text text-muted ">This Privacy notice for Bhojsoft Solutions
            (doing business as Ximboa)
            (“we”,”us”, or “our”), describes how and why we might collect
            ,store, use, and /or share (“Process”) your information when you use
            or services (“Services”), such as when you : </p>
        <div><ul class=" text text-muted">
                <li>Visit our website at <a style="text-decoration: none;"
                        href="https://ximboa.io/"> https://www.ximboa.io</a> ,
                    or any website of ours that links to this privacy
                    notice.</li>
                <li>Download and use our mobile application (Ximboa), or any
                    other application of ours that links to this privacy
                    notice.</li>
                <li>Engage with us in other related ways, including any sales,
                    marketing, or Events</li>
            </ul>
        </div>
        <p class="text-muted text ">Questions or Concerns? Regarding this
            privacy notice will help you
            understand your privacy rights and choices. If you do not agree with
            our policies and practices, Please do not use our services. If you
            still have questions or concerns, please contact us at contact <a
                style="text-decoration: none;"
                href="https://ximboa.io">contact@ximboa.io</a>
        </p>
        <div class="mb-3">
            <p class="title">Information We Collect</p>
            <p class="poppins-extrabold">We collect the following types of
                information:</p>
            <ul class="text-muted text">
                <li>User Profiles: When you create an account, we collect your
                    name, email address, password, and profile picture.</li>
                <li>Expert Profiles: When you create an expert profile, we
                    collect your name, email address, bio, expertise,
                    credentials, and other information relevant to your
                    expertise.</li>
                <li>Session Data: When you book a session, we collect the date,
                    time, duration, and topic of the session.</li>
            </ul>
        </div>
        <div class="mb-3" >
            <p class="title">How We Use Information</p>
            <p class="poppins-extrabold">We use the information we collect for the following purposes:</p>
            <ul  class="text-muted text">
                <li>To Provide and Improve Our Services: We use information to provide our services, including connecting experts and seekers, processing payments, and communicating with users.</li>
                <li>To Facilitate Connections: We use information to facilitate connections between experts and seekers, including matching seekers with relevant experts.</li>
                <li>To Communicate with Users: We use email addresses to communicate with users, including sending notifications, updates, and marketing emails.</li>
                <li>To Analyze Usage: We use data to analyze usage patterns and improve the user experience.
                </li>
            </ul>
        </div>
        <div class="mb-3">
            <p class="title">Data Protection</p>
            <p class="poppins-extrabold">We take the following measures to protect user data:</p>
            <ul class="text text-muted">
                <li>Encryption: We use encryption to protect data transmission.</li>
                <li>Secure Servers: We store data on secure servers. </li>
                <li>Access Controls: We implement access controls and authentication measures to ensure only authorized personnel can access user data.</li>
            </ul>
        </div>
        <div class="mb-3">
            <p class="title">Data Sharing</p>
            <p class="poppins-extrabold">We do not share personal information with third parties, except in the following circumstances:</p>
            <ul class="text-muted text">
                <li>Aggregated Data: We may share aggregated, anonymized data for research or marketing purposes.
                </li>
                <li>Legal Requirements: We may share information in response to legal requirements, such as court orders or subpoenas.
                </li>
            </ul>
        </div>
        <div class="mb-3">
            <p class="title">User Rights</p>
            <p class="poppins-extrabold">Users have the following rights:</p>
            <ul class="text-muted text">
                <li>Right to Access: Users can access and update their personal information.</li>
                <li>Right to Delete: Users can delete their account and data.</li>
                <li>Right to Opt-Out: Users can opt-out of marketing communications.
                </li>
            </ul>
        </div>
        <div class="mb-3">
            <p class="title">Cookies and Tracking</p>
            <p class="poppins-extrabold">We use cookies and tracking pixels to:</p>
            <ul class="text-muted text">
                <li>Track User Behavior: We use cookies to track user behavior and improve the user experience.    </li>
                <li>Monitor Marketing Efforts: We use tracking pixels to monitor marketing efforts and improve advertising. </li>
            </ul>
        </div>
        <div class="mb-3">
            <p class="title">Changes to Privacy Policy</p>
            <p class="text text-muted">We will notify users of changes to this policy, and changes will be effective immediately.</p>
        </div>
        <div>
            <p class="title">Contact Us</p>
            <p class="text text-muted">If you have questions or concerns, please contact us at contact@ximboa.com</p>
        </div>
    </div>
  <!-- subscribe section  -->
  <div class="container-fluid  py-5 poppins-bold">
    <!-- Subscribe Section -->
    <div class="row subscribe-section my-5 g-0  poppins-bold"
        style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 30px;">
        <div class="col-lg-5 mb-4 mb-lg-0">
            <!-- Replace the image link with your actual image source -->
            <img src="../../assets/Untitled-design-25.jpg" class="img-fluid"
                style="border-top-left-radius: 22px;border-bottom-left-radius: 22px;"
                alt="Woman using laptop">
        </div>
        <div
            class="col-lg-7 d-flex flex-column justify-content-center px-5 ">
            <p
                class="text-uppercase text-primary fw-bold  mb-2 text-primary"
                style="font-size: 16px;letter-spacing: 2px;">Subscribe
                Now</p>
            <p style="font-size: 48px; font-weight: 700; line-height: 52px;"
                class="mb-4">Subscribe for Learning Insights!</p>
            <form class="d-flex">
                <input type="email" class="form-control w-75 py-3"
                    placeholder="Your Email"  style="background-color: #f7f7f7; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;">
                    <button type="submit" class="btn text-light px-5"
                    style="background-color: #307DFF; border-top-right-radius: 18px; border-bottom-right-radius: 18px; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; font-weight: 600; letter-spacing: 1px;">
              SUBSCRIBE HERE
            </button>
            
            </form>
        </div>
    </div>
</div>


</div>