<div class="container">
    <div class="row">
        <!-- <div *ngFor="let request of getrequest" class="col-12">
                <div class="d-flex align-items-center justify-content-between">    
            <p>{{request.userid}}</p>
            <p>{{request.requestedRole}}</p>
            <p>{{request.status}}</p>
            <p>{{request.requestDate}}</p>

            <button class="btn btn-success me-4">Approved</button>    
            <button class="btn btn-danger">Reject</button>  
                </div>
        </div> -->
        <table class="table table-bordered text-center">
            <thead class="mb-2">
                <tr>
                    <th>USER NAME</th>
                    <th>USER ROLE</th>
                    <th>STATUS</th>
                    <th>REQUEST DATE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let request of getrequest">
                <td>{{request.userid.f_Name + " " + request.userid.l_Name }}</td>
                <td>{{request.requestedRole}}</td>
                <td>{{request.status}}</td>
                <td>{{request.requestDate | date}}</td>
                <td> 
                    <button (click)="handleApproval(request.userid, 1)" class="btn text-light bg-success me-4">Approve</button>    
                    <button (click)="handleApproval(request.userid, 0)" class="btn text-light bg-danger">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>