<div class="container-fuild">
    <div class="row">
        <img class="img-fluid rounded" src="../../../assets/trainer_home_mycourses.png" alt="" />
      </div>
    <div class="d-flex align-items-center justify-content-between mt-3">
        <h5>Categories</h5>
        <div class="d-flex">
            <button class="btn rounded-pill text-light" data-bs-toggle="modal" data-bs-target="#exampleModal"  style="background-color: #674ACB;width: 130px;">Add New</button>
            <button (click)="toggleIcon()" class="btn rounded-pill text-light ms-4" style="background-color: #F96D63;width: 150px;">Update/Delete</button>
        </div>
    </div>

<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-6 g-3 my-1">

    <div *ngFor="let showdata of showCategorydata" class="col-sm-12 col-md-6 col-lg-2 ">
        <div class="card p-2 round" >
            <img [src]="showdata.category_image" class="card-img-top rounded" alt="...">
            <div class="card-body">
                <h6 class="card-title">{{showdata.category_name}}</h6>
            </div>
            <i routerLink="/editcategory/{{showdata._id}}"  *ngIf="showIcon " class="fa-solid fa-edit right-side-top-delete"></i>
            <i (click)="onDelete(showdata._id)" *ngIf="showIcon" class="fa-solid fa-minus right-side-top"></i>
        </div>
    </div>
</div>
</div>

<!-- Model For Add New Categories -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Categories</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form (ngSubmit)="onSubmit()">
      <div class="modal-body">
       
          <div class="mb-3">
            <label for="category_name" class="col-form-label">Select Categories</label>
            <input type="text" class="form-control" list="categoryName" id="category_name" [(ngModel)]="category_name" name="category_name">
            <datalist id="categoryName">
                <option value="Fitness">Fitness</option>
                <option value="Yoga">Yoga</option>
                <option value="Education">Education</option>
                <option value="Health">Health</option>
                <option value="Development">Development</option>
                <option value="Vocational">Vocational</option>
            </datalist>    
          </div>

            <div class="mb-3">
                <label for="sub_title" class="col-form-label">Sub Title</label>  
                <input type="text" class="form-control"  id="sub_title" [(ngModel)]="sub_title" name="sub_title">
            </div>
`
          <div class="mb-3">
            <label for="category_image" class="col-form-label">Upload Categories Image</label>
            <input type="file"  id="category_image" (change)="onFileSelected($event)"  required >
          </div> 
       
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
    </div>

  </div>
</div>