<div class="container-fluid">
    <div class="row">

        <div class="col-lg-2 bg-dark text-light pt-3" style="height: 100">
            <ul class="list">
                <li routerLink="/admin/adminhome" class="hover"><i class="fa-solid fa-house"></i>Home</li>
                <li routerLink="/admin/admincategory" class="hover"><i class="fa-solid fa-layer-group"></i>Categories</li>
                <li routerLink="/admin/admincourse" class="hover"><i class="fa-solid fa-square-check"></i>Courses</li>
                <li routerLink="/admin/instructors" class="hover"><i class="fa-solid fa-circle-user"></i>Instructors</li>
                <li routerLink="/admin/adminhome" class="hover"><i class="fa-solid fa-calendar-days"></i>Schedule</li>
                <li routerLink="/admin/adminhome" class="hover"><i class="fa-solid fa-envelope"></i>Messages</li>
                <li routerLink="/admin/adminhome" class="hover"><i class="fa-solid fa-clock-rotate-left"></i>History</li>
            </ul>
        </div>


        <div class="col-lg-10" style="height: 100">
            <router-outlet></router-outlet>
        </div>
    </div> <!-- close main row -->
</div> <!-- close container -->