.btn-block{
    background: rgb(249,176,53);
    background: linear-gradient(90deg, rgba(249,176,53,1) 0%, rgba(249,140,78,1) 50%, rgba(249,103,103,1) 100%);
    color: white;
    box-shadow: 8px 8px 30px rgb(240, 207, 149);
    
}
.btn-fb{
    color: #6149CD;
    background-color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px 15px 10px 15px;
    box-shadow: 8px 8px 30px #b9afe7;
}
.sign-in-btn{
    background: rgb(97,73,205);
    background: linear-gradient(90deg, rgba(97,73,205,1) 0%, rgba(166,84,172,1) 50%, rgba(234,95,139,1) 100%);
    color: white;
    padding: 10px;
    box-shadow: 8px 8px 30px #b9afe7;
    

}

@media only screen and (min-width: 600px) {
    .desktop{
        width: 80%;
        margin-left: auto;
    }
    .desktop1{
        height: 150px;
    }
}