<div class="container">
    <div class="row pt-5 desktop" >

        <div class="col-sm-12 col-lg-7 text-end desktop1">
            <p>New Users? <label style="color: #6149CD;">Create an account</label></p>
        </div>
       
        <div>
            <h2>Forgot Password</h2>
            <div class="pt-3">
                <p class="m-0">Enter the email address you used when you joined and we'll </p>
                <p class="m-0">send you instructions to reset your password.</p>
            </div>
        </div>
                <div class="col-sm-12 col-lg-6 mt-4">
                    <label for="inputEmail4" class="form-label fw-bold">Your Email</label>
                  <input type="text" class="form-control rounded-pill" placeholder="achavan@example.com" aria-label="First name">
                </div>
           
       
      
        <div class="pt-5">
            <button class="btn sign-in-btn rounded-pill w-25">Submit</button>
        </div>

        <div class="mt-5">
            <p style="color: #6149CD;"><i class="fa-solid fa-angle-left"></i> Back to sign in</p>
        </div>
    </div>
</div>