<div class="container rounded mt-5" style="box-shadow: 10px  10px 50px #a79ccf;">
    <div class="row ">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-between p-4 rounded-top" style="background-color: #E9E5FB;">
            <h5>Shop</h5>
            <button class="btn btn-0">Continue Shopping</button>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 mt-3 p-5">
            <img src="./assets/gym-boy.jpg" class="img-fluid " alt="..." style="border-radius: 20px;">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mt-3 p-5">
            <h6 class="fs-4 fw-bold" style="color: #674ACB;">Proteins Shakes</h6>
            <p class="fs-5" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatibus deserunt alias incidunt necessitatibus soluta officiis illum culpa 
                officia molestias, facilis magnam laborum labore dolore numquam possimus consectetur nisi itaque debitis, 
                in voluptates. Doloremque perspiciatis assumenda optio illum, fuga dolor sint praesentium ex sequi accusantium maxime 
                fugit deserunt dolorum iure adipisci tenetur cumque!.
            </p>
            <p>₹ 130.00</p>
            <button class="btn text-white" style="background-color: #674ACB">Buy now</button>
        </div>
    </div>
    <div class="row p-5 gap-2">
        <h5 class="fw-bold" style="color: #674ACB;">Related Product</h5>
        <div class="row row-cols-1 row-cols-md-5 g-3">
            <div class="col rounded-box">
              <div class="card h-100 rounded-box">
                <img src="./assets/gym-boy.jpg" class="card-img-top rounded-box" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Proteins Shakes</h5>
                    <p class="m-0">₹ 130.00</p>
                    <button class="btn btn1 mt-3 btn-block ">Add to cart</button>
                </div>
              </div>
            </div>
            <div class="col rounded-box">
              <div class="card h-100 rounded-box">
                <img src="./assets/gym-boy.jpg" class="card-img-top rounded-box" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Proteins Shakes</h5>
                    <p class="m-0">₹ 130.00</p>
                    <button class="btn btn1 mt-3 btn-block ">Add to cart</button>
                </div>
              </div>
            </div>
            <div class="col rounded-box">
              <div class="card h-100 rounded-box">
                <img src="./assets/gym-boy.jpg" class="card-img-top rounded-box" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Proteins Shakes</h5>
                    <p class="m-0">₹ 130.00</p>
                    <button class="btn btn1 mt-3 btn-block ">Add to cart</button>
                </div>
              </div>
            </div>
            <div class="col rounded-box">
              <div class="card h-100 rounded-box">
                <img src="./assets/gym-boy.jpg" class="card-img-top rounded-box" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Proteins Shakes</h5>
                    <p class="m-0">₹ 130.00</p>
                    <button class="btn btn1 mt-3 btn-block ">Add to cart</button>
                </div>
              </div>
            </div>
            <div class="col rounded-box">
                <div class="card h-100 rounded-box">
                  <img src="./assets/gym-boy.jpg" class="card-img-top rounded-box" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title">Proteins Shakes</h5>
                    <p class="m-0">₹ 130.00</p>
                    <button class="btn btn1 mt-3 btn-block ">Add to cart</button>
                </div>
                </div>
              </div>
          </div>
           
          
    </div>
</div>