<div class="container mt-3">
    <!-- <div class="row">
        <div class="row p-3 rounded-top" style="background-color: #674ACB;">
            <div class="col-lg-4">

            </div>
            <div class="col-sm-12 col-md-12 col-lg-8 text">
                <div class="d-flex align-items-center gap-5 font-style">
                    <h6 routerLink="/relevance/relevancedata">Relevance</h6>
                    <h6 routerLink="/relevance/courses">Courses</h6>
                    <h6 routerLink="/relevance/trainer">Trainer</h6>
                </div>
            </div>
        </div> 

    </div> -->
        <div class="row ">
            <div class="col-sm-12 col-md-6 col-lg-3 pt-3" style="background-color:#DDDBE9;margin-left: -12px !important;">
                <h5 >Category</h5>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Fitness </label>
                </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked"> Yoga </label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault"> Language      </label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked"> Tiution </label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault"> Developement  </label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked"> Yoga </label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault"> Vocational </label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked"> Fitness </label>
                  </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-9 ">
             
              
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                        <div class="card p-2 round" style="width: 19rem;">
                          <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                          <div class="card-body text-center">
                            <h6>D Miller</h6>
                            <h6>Fitness Trainer</h6>
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            </div>
                        </div>
                      </div>
    
                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                        <div class="card p-2 round" style="width: 19rem;">
                          <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                          <div class="card-body text-center">
                            <h6>D Miller</h6>
                            <h6>Fitness Trainer</h6>
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            
                            </div>
                        </div>
                      </div>
    
                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                        <div class="card p-2 round" style="width: 19rem;">
                          <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                          <div class="card-body text-center">
                            <h6>D Miller</h6>
                                <h6>Fitness Trainer</h6>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                      </div>
    
                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                        <div class="card p-2 round" style="width: 19rem;">
                          <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                          <div class="card-body text-center">
                                <h6>D Miller</h6>
                                <h6>Fitness Trainer</h6>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                        <div class="card p-2 round" style="width: 19rem;">
                          <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                          <div class="card-body text-center">
                                <h6>D Miller</h6>
                                <h6>Fitness Trainer</h6>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                        <div class="card p-2 round" style="width: 19rem;">
                          <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                          <div class="card-body text-center">
                                <h6>D Miller</h6>
                                <h6>Fitness Trainer</h6>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                      </div>
    
                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                        <div class="card p-2 round" style="width: 19rem;">
                          <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                          <div class="card-body text-center">
                                <h6>D Miller</h6>
                                <h6>Fitness Trainer</h6>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                      </div>
    
                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                        <div class="card p-2 round" style="width: 19rem;">
                          <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                          <div class="card-body text-center">
                                <h6>D Miller</h6>
                                <h6>Fitness Trainer</h6>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                      </div>
    
                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                        <div class="card p-2 round" style="width: 19rem;">
                          <img src="./assets/trainer.jpg" class="card-img-top rounded" alt="...">
                          <div class="card-body text-center">
                                <h6>D Miller</h6>
                                <h6>Fitness Trainer</h6>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                      </div>
                 
                  </div>
    

            </div>    

               
    
</div>