<!-- Event List Code Start From Here -->
<div class="row mt-3">

   <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 gx-3 mt-3">
    <div *ngFor="let Event of filteredEvent | paginate: { itemsPerPage: 8, currentPage: p}" class="col-sm-12 col-md-3 col-lg-3 mb-3">
      <div class="card" routerLink="/eventdetails/{{Event._id}}">
        <img src="{{Event.event_thumbnail}}" class="card-img-top img-fluid" alt="...">
        <span class="onproducthoverflag rounded px-3">{{Event.event_flag}}</span>
        <div class="card-body text">
          <div class="d-flex align-items-center justify-content-between gap-1">
            <span>
              <label class="poppins-semibold-italic text-muted" style="font-size: 12px;">{{Event.event_date |  date: 'MMM'}}</label><br>
              <span class="poppins-semibold-italic" style="font-size: 24px;">{{Event.event_date |  date: 'dd'}}</span>
            </span>
            <span>
              <p class="card-title poppins-semibold-italic">{{Event.event_name}}</p>
            </span>
            <span class="text-center">
              <span class="poppins-semibold-italic"> {{Event.event_type}} </span> <br>
              <i *ngIf="Event.event_type === 'Online'" class="fas fa-circle-play text-muted"></i>
              <i *ngIf="Event.event_type === 'Offline'" class="fas fa-location-dot"></i>
            </span>
        </div>
          <div class="d-flex align-items-center gap-2 justify-content-center">
            <img src="../../assets/Rohit sharma.jpg" class="rounded-circle object-fit-cover" height="30px" width="30px" alt="">
            <img src="../../assets/Rohit sharma.jpg" class="rounded-circle object-fit-cover" height="30px" width="30px" alt="">
            <img src="../../assets/Rohit sharma.jpg" class="rounded-circle object-fit-cover" height="30px" width="30px" alt="">
            <img src="../../assets/Rohit sharma.jpg" class="rounded-circle object-fit-cover" height="30px" width="30px" alt="">
            <label class="p-2 border rounded-circle"> +35</label>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-2">
            <button class="btn rounded-pill px-4 text-light poppins-regular" style="font-size: 14px;background-color: var(--TextColor);">Book Seat</button>
            <button class="btn rounded-pill px-4 text-light poppins-regular" style="font-size: 14px;background-color: var(--btndarkColor);">View More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
            <pagination-controls style="float:right" (pageChange)="p = $event" class="text-end"></pagination-controls>
  </div>
