.list > li{
        font-size: larger;
        margin-top: 30px;
        list-style: none;
        display: flex;
        unicode-bidi: isolate;
        line-height: 35px;
        cursor: pointer;
        
 i{
    margin-right: 10px;
    /* font-size: 30px; */
 }
}

.active {
  color: #307DFF;
  font-weight: bold;
  .active i{
    color:#307DFF ;
  }
}

@media only screen and (min-width: 1024px) {
  .sidebarlgscreen{
    height: 100%;
    position: sticky !important;
    top: 0;
    left: 0;
  }
}