/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.right-side-top{
    background-color: #F9C4C4;
    padding: 4px 6px;
    border-radius: 50%;
    font-size: large;
    border: none;
    position: absolute;
    top: -7px;
    right: 15px;
    margin-top: 20px;
  }

  .right-side-top-delete{
    background-color: #F9C4C4;
    padding: 5px 6px;
    border-radius: 50%;
    font-size: large;
    border: none;
    position: absolute;
    top: -7px;
    right: 50px;
    margin-top: 20px;
  }

  input:focus,
  select:focus,
  textarea:focus{
    outline: none !important;
    box-shadow: none !important;
  }


  /* CSS For zoom effect for card */
  .card{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover{
    transform: scale(1.04);
    /* transform: translatey(-10px) */
  }


/* css forcategory Show on card image */
  .left-side-top{
    background-color: #F9C4C4;
    padding: 5px 15px 5px 15px;
    font-size: medium;
    border: none;
    position: absolute;
    top: 0%;
    margin-top: 20px;
  }

  .round{
    border-radius: 10px !important;
}


/* Style for Registration POP up */

.sign-in-btn{
  background: #3078FF  ;
  color: white;
  padding: 10px;
}
.rounded-input{
  border-radius: 15px;
}
.inputbtn{
  position: relative;
}
.inputbtn > button{
  position: absolute;
  right: 10px;
  border: none;
  background-color: transparent;
}
sup{
  color: red;
}