/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
.body{ 
  font-family: 'Poppins', sans-serif;
 } 

.right-side-top{
    background-color: #F9C4C4;
    padding: 4px 6px;
    border-radius: 50%;
    font-size: large;
    border: none;
    position: absolute;
    top: -7px;
    right: 15px;
    margin-top: 20px;
  }

  .right-side-top-delete{
    background-color: #F9C4C4;
    padding: 5px 6px;
    border-radius: 50%;
    font-size: large;
    border: none;
    position: absolute;
    top: -7px;
    right: 50px;
    margin-top: 20px;
  }

  input:focus,
  select:focus,
  textarea:focus{
    outline: none !important;
    box-shadow: none !important;
  }


  /* CSS For zoom effect for card */
  .card{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover{
    transform: scale(1.04);
    /* transform: translatey(-10px) */
  }

  .card-footer{
    background-color: #ffffff !important;
  }
/* css forcategory Show on card image */
  .left-side-top{
    background-color: #307DFF;
    color: white;
    /* padding: 5px 15px 5px 15px; */
    font-size: medium;
    border: none;
    position: absolute;
    top: 0%;
    margin-top: 20px;
  }

  .round{
    border-radius: 10px !important;
}


/* Style for Registration POP up */
.sign-in-btn{
  background: var(--TextColor)  ;
  color: var(--WhiteColor);
  padding: 10px;
}

.rounded-input{
  border-radius: 15px;
}

.inputbtn{
  position: relative;
}

.inputbtn > button{
  position: absolute;
  right: 10px;
  border: none;
  background-color: transparent;
}

sup{
  color: red;
}


/* New Theam CSS */
:root {
  --bodyColor: #F5F5F5; /*Background Color */
  --rowColor: #1B1E2A;  /*Row Background Color */
  --TextColor: #307DFF; /*Text Color */
  --btndarkColor: #265ABB;
  --WhiteColor: #FFFFFF;
  --ArrowIcon: #307CFC; /*Arrow Color */
  --Poppins14: 14px;
  --mainColor: ; 
  --headingColor: #293a5c;
  --blackColor: #000000;
  --darkBlueColor: #123726;
  --boxShadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  --transition: all 0.5s;
  --borderRadius: 20px;  
}

/* CSS For Product Card on Hover  */
.productcard {
  position: relative;
}

.productcard:hover .onproducthover {
  display: block; /* Shows on hover */
}

.onproducthover {
  position: absolute;
  top: 30%;
  left: 30%;
  display: none; /* Initially hidden */
}



.onproducthoverflag{
  position: absolute;
  top: 3%;
  left: 2%;
  background-color: #307DFF;
  color: #ffffff;
}

/* CSS For Trainer Card on Hover  */

.trainercard {
  position: relative;
}

.trainercard:hover .viewtrainerbtn {
  display: block;
}

.viewtrainerbtn {
  position: absolute;
  font-size: var(--Poppins14);
  top: 30%;
  left: 35%;
  background-color: #307DFF;
  color: #ffffff;
  display: none;
}

.trainernameheading{
  font-size: 24px;
  font-weight: bold;
}

.trainercardfooter{
  font-size: 13px;
}




/* social icons */
.social-icons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social-icons i {
  padding: 10px;
  text-decoration: none;
}

.social-icons i:hover {
  background-color: var(--TextColor);
  color: var(--WhiteColor);
}




.poppins-thin {
  font-family: "Poppins", system-ui;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", system-ui;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", system-ui;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", system-ui;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", system-ui;
  font-weight: 100;
  font-style: normal;
}


.poppins-extralight-italic {
  font-family: "Poppins", system-ui;
  font-weight: 200;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", system-ui;
  font-weight: 800;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", system-ui;
  font-weight: 900;
  font-style: normal;
}