<div class="container-fluid">
    <div class="row">

        <div class="col-lg-2 bg-dark text-light pt-3 rounded-end" style="height: 100vh;">
            <ul class="list">
                <li routerLink="/student/studentDashboard" class="hover"><i class="fa-solid fa-house"></i>Dashboard</li>
                <li routerLink="/student/student-course" class="hover"><i class="fa-solid fa-cart-shopping"></i>My Course</li>
                <li routerLink="/student/messages" class="hover"><i class="fa-solid fa-square-check"></i>Messages</li>
                <!-- <li routerLink="/trainer/event" class="hover"><i class="fa-solid fa-calendar-days"></i>Event</li>
                <li routerLink="/trainer/enquiry" class="hover"><i class="fa-solid fa-envelope"></i>Enquiry</li>
                <li routerLink="/trainer/appointment" class="hover"><i class="fa-solid fa-circle-user"></i>Appointment</li>
                <li routerLink="er" class="hover"><i class="fa-solid fa-clock-rotate-left"></i>History</li> -->
            </ul>
        </div>

        <div class="col-lg-10">
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div> <!-- close main row -->
</div> <!-- close container -->












