/* .container{
  position: absolute;
} */
.inputContainer1 > i{
    position: absolute;
    color: black;
    margin-left: 8px;
  }

  .icon{
    background-color: gray;
    color: skyblue;
    border-radius: 50%;
    padding: 15px;
  }

  .Welcome{
    font-weight: bold;
  }
  .start-text{
    position: absolute;
    left: 0;
    margin-top: -120px;
    margin-left: -80px;

    
  }
  .modify{
    background-color: #674ACB !important;
 }
  .button-75{
    position: absolute;
    right: 0;
    margin-top: -80px;
  }
 
.user-icon{
  background-color: gray;
  color: skyblue;
  border-radius: 50%;
  padding: 15px;
}
.card-user{
  border: 1px solid black ;
  padding: 5px 5px 0 5px;
  border-radius: 5px;
}


.round{
    border-radius: 10px !important;
}

.list > li{
        font-size: larger;
        margin-top: 30px;
        list-style: none;
        display: flex;
        unicode-bidi: isolate;
        line-height: 35px;
 i{
    margin-right: 10px;
    font-size: 30px;
 }
}
 .hover:hover{

    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px 0px 10px 15px;
    i{
        color: #F96D63;
     }
 }







  /* Animation Button */

  /* CSS */
.button-75 {
  background: rgb(97,73,205);
  background: linear-gradient(90deg, rgba(97,73,205,1) 0%, rgba(166,84,172,1) 50%, rgba(234,95,139,1) 100%);
 padding: 10px;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
  font-size: small;
  width: 13%;
}

