<div class="container rounded mt-5" style="box-shadow: 10px  10px 50px #a79ccf;">
    <div class="row ">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-between p-4 rounded-top" style="background-color: #E9E5FB;">
            <h5>Fitness Claases</h5>
            <button routerLink="/seeallcategories" class="btn btn-0 rounded-pill">Back</button>
        </div>
        <div class="row p-5">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <label for="mobileno" class="form-label">First Name</label>
              <input type="text" class="form-control form-control-lg  rounded-input" placeholder=""  required>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <label for="mobileno" class="form-label">Last Name</label>
              <input type="text" class="form-control form-control-lg  rounded-input" placeholder=""  required>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <label for="mobileno" class="form-label">Mobile Number</label>
              <input type="text" class="form-control form-control-lg  rounded-input" placeholder=""  required>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <label for="mobileno" class="form-label">Email ID</label>
              <input type="email" class="form-control form-control-lg  rounded-input" placeholder=""  required>
            </div>

            <div class="text-center mt-4">
              <button class="btn text-white rounded-pill w-25" style="background-color: #674ACB" (click)="successNotification()">Submit</button>
             </div>

        </div>
    </div>
</div>        