<div class="container-fluid p-3 h-100" >
<div class="container" >
    <div class="row" >
        <div class="d-flex align-items-center justify-content-between my-3">
            <img src="../../../assets/XIMBO.png" alt="">
            <label for="">New Users?  <label routerLink="/register" style="color: #6149CD;">Create an account</label>        </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 hide-on-mobile" >
                <img src="../../../assets/Login.png" alt="">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 bg-light rounded p-5">
            <div class="my-3">
                <h1>Hello, <br> Welcome Back</h1>
            </div>
            <form #login="ngForm" (ngSubmit)="onSubmit(login.value)">
                <div class="col-sm-12 col-lg-12 mb-4">
                    <label for="email" class="form-label">Your Email</label>
                    <input type="email" class="form-control rounded-pill" id="email" [(ngModel)]="email"  name="email" required placeholder="">
                  </div>
                  <div class="col-sm-12 col-lg-12 mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="d-flex align-items-center inputbtn">
                      <input [type]="show ? 'text' : 'password'" class="form-control rounded-pill" id="password" [(ngModel)]="password"  name="password" required placeholder="">
                      <button type="button" (click)="togglePassword()">
                        <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                        <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                      </button>
                    </div>
                  </div>

                  <div class="form-check pt-3">
                    <input class="form-check-input border-dark" type="checkbox"  [(ngModel)]="rememberMe" name="rememberMe" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Remember me</label>
                    &nbsp; &nbsp; &nbsp;
                    <label class="text-primary">Forgot Password?</label>
                  </div>
                  <div class="py-4">
                    <!-- <button type="submit" class="btn btn-primary rounded-pill">Sign in</button> -->
                    <button type="submit" [disabled]="!rememberMe" class="btn btn-primary rounded-pill w-25">Sign in</button>

                  </div> 
                  <div class="d-flex align-items-center justify-content-between">
                    <hr class="w-25 m-0">
                    <label class="m-0">Or login with</label>
                    <hr class="w-25 m-0">
                  </div>
                  <div class="mt-4">
                    <button class="btn btn-block btn-primary rounded-pill "> <i class="fa-brands fa-google"></i> Sign in with Google</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>